[2015-03-30 01:04] marianboda opened #1 "Doesn't work with react 0.13.1"

[2015-04-18 21:06] rach commented on #1
Any plan of supporting 0.13.1 ?

[2015-04-19 20:43] PrototypeAlex commented on #1
Possibly, we've recently converted away from this way of bringing svg into react. I'll try get a patch out for react 0.13 soon.

[2015-12-23 23:53] dfdeagle47 opened #2 "Problem with IE9-Win7"
The react component didn't work for me on IE9-Win7 (using this vagrant machine https://github.com/markhuber/modern-ie-vagrant/blob/master/Vagrantfile).

The XDomainRequest in iconic/SVGInjector kept getting 'aborted'. If I attached the onerror handler, I had an error.
Of course, IE9 does not give you an actual error message... (https://developer.mozilla.org/en-US/docs/Web/API/XDomainRequest/onerro

[2016-04-17 21:39] #1 closed

[2016-04-17 21:39] #2 closed

[2016-06-08 22:56] bigbassroller opened #4 "Correct way to include in app?"
The documentation says to import ReactSVG by doing this `import ReactSVG from '../src/index.js';`

but that doesn't seem right.

I am missing something?

[2016-07-12 01:30] joelm10 commented on #4
after npm install ive included it using
`import ReactSVG from 'react-svg';`

Which loads it in, but getting component based errors from that point on :(

[2016-07-26 09:27] renaudl commented on #4
Same issue!

[2016-07-29 18:03] abesamma commented on #4
use the rel url 'react-svg/dist/react-svg.js' when importing. Works like a charm :-)

[2016-09-26 21:24] Bartozzz opened #5 "Dynamic class names"
I am trying to add a class to the ReactSVG component once something happens. I am using the latest version of `react`, `react-svg`, `classnames`.

[code]

`themeIcon` is a valid string:

<img width="597" alt="zrzut ekranu 2016-09-26 o 23 17 00" src="https://cloud.githubusercontent.com/assets/6741707/18852125/632d832c-843f-11e6-9495-a2667084d2fa.png">

CSS clases are not changing in the DOM once SV

[2016-10-05 14:14] louisnovick opened #7 "Can't request path locally?"
This works if the path is an external link but not if I set it to ../assets or something like that.

[2016-10-06 16:12] dreadjesus opened #8 "advanced svg"
Hi, i have a problem with injecting one svg.file thats made in inkscape with some extra visuals.

when i injected it i lose all the special effects. Anyone got a sulotion for this?

[2016-10-10 17:27] goldensunliu opened #9 "Request: inject svgs when this.props.path changes"
currently props.path can only be set once, it would be nice to able to swap the svg path by change its props.

[2016-10-23 02:25] tanem commented on #4
Nice workaround :wink: Have fixed up the lib build accordingly.

The README example has also been updated, I can see how that would have been confusing. The example itself also now uses the built lib file, which is a more realistic scenario anyway.

[2016-10-23 02:25] #4 closed

[2016-10-23 06:29] tanem commented on #5
@Bartozzz that looks like expected behaviour to me?

In your example screenshot, I can see the `icon` class is showing up on the `svg` element. If you sent through `icon is-active` as the value for the `className` prop (say, when that `render` function was called again), then those two classes will show up on the `svg` element.

[2016-10-23 06:32] tanem commented on #7
@louisnovick can you provide a bit more detail please? The example in the repo uses a local SVG, but it sounds like we may be talking about different things.

[2016-10-23 07:25] tanem commented on #8
@dreadjesus can you provide a more concrete example? `react-svg` delegates to [`SVGInjector`](https://github.com/iconic/SVGInjector) under the hood, so the issue might have to be chased up there.

[2016-10-23 07:41] tanem commented on #9
@goldensunliu this should be covered by #6 which I just released.

[2016-10-23 10:16] Bartozzz commented on #5
Yes, the `.icon` class shows on the `svg` element on the first render, but it's keeps showing on the consecutives ones - even if `themeIcon` has changed. Maybe it happens *only* on my machine as I am using `NW.js` and the `Node.js`/`Window` context is *messed up* a little. At this moment I am adding the `.is-active` class to the parent element.

Anyway, can you provide a working, tested example th

[2016-10-23 11:03] dreadjesus commented on #8
Been trying somthing like this, but relised it might be becouse its not made in native svg?
secondly, do you have any good idea how to manipulate after injection? (thinking of somthing like using refs?)

`<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<svg
   xmlns:osb="http://www.openswatchbook.org/uri/2009/osb"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativec

[2016-10-23 11:03] #8 closed

[2016-10-23 11:06] dreadjesus commented on #8
Hi. Tried somthing like this (zip file), but relised it might be becouse its not native svg?
Secondly, you have any good ideas how to manipulate it afterwards, like using refs?

[lb01.zip](https://github.com/atomic-app/react-svg/files/546288/lb01.zip)

[2016-10-24 08:34] tanem commented on #9
Re-opening this as upon further investigation I'm not sure this is fixed. Will likely continue discussion in #5.

[2016-10-24 08:45] tanem commented on #5
I see what you mean now. This module delegates to `SVGInjector`, and I _think_ that keeps an internal cache of the SVG's it loads, and if it determines an SVG has already been loaded, then it won't update it. I'd need to investigate further.

In the meantime it sounds like your workaround will be ok, I'm guessing (have yet to test this) you're doing something like wrapping `ReactSVG` in a `div`, a

[2016-10-24 16:28] Bartozzz commented on #5
Yup, that's exactly what I am doing.

[2016-11-23 19:42] Nappstir opened #10 "Unable to load SVG file: {path}"
I have installed `react-svg` and I am trying to import an svg image. Here is my file:

[code]
</div>
<div className="col-sm-8" style={styles.weatherBoxContainer.currentTemp}>

Here is my file structure:
[code]

Console reads out:
`Unable to load SVG file: ../common/svg/O1n.svg`
`undefined`

I have installed through npm w/o issues:
`svg-injector`
`react-svg`

What am I missing here?

[2016-12-05 18:27] afreeland opened #12 "replaceChild svg unable to render"
I am working with an electron app that is utilizing the react framework and ran into an issue with svg not rendering.  This seems to happen when I filter a list or change the sequence of a list...

From react code I am setting a new array to maintain the immutability aspect but something seems to throw off react-svg.

Starting State
![sample1](https://cloud.githubusercontent.com/assets/3135030/208

[2016-12-14 17:00] mikeriley131 opened #14 "Uncaught TypeError: Cannot read property 'replaceChild' of null(...)"
Getting this error when using this package. Possible conflict with the YouTube Player API?

[code]

[2016-12-15 12:55] nikoskleidis commented on #14
Probably implementing shouldComponentUpdate would prevent this from happening. In my case I wrapped the component with another component that ensures the component is only updated when its props change.

[2016-12-18 02:34] tanem commented on #5
@Bartozzz this issue should be fixed if you want to try grabbing the latest version now.

[2016-12-18 02:37] tanem commented on #7
Closing due to lack of activity.

[2016-12-18 02:37] #7 closed

[2016-12-18 02:38] tanem commented on #9
@goldensunliu this issue should be fixed if you want to try grabbing the latest version now.

[2016-12-18 02:44] tanem commented on #10
@Nappstir see #7. Sounds like you need to be running a local webserver.

[2016-12-18 03:01] tanem commented on #12
@afreeland see if the latest version (> 2.02) solves your issue?

[2016-12-18 03:02] tanem commented on #14
@mikeriley131 see if the latest version (> 2.02) solves your issue?

[2016-12-19 14:27] afreeland commented on #12
I just installed version `2.1.1` and it appears to solve the issue.   I just added `react-svg` like two weeks ago and apparently it defaulted to version `1.1.5`.  This time I specifically used `npm install react-svg@2.1.1` and now everything appears to be working as desired, thanks @tanem

[2016-12-19 14:27] #12 closed

[2016-12-30 05:59] tanem commented on #10
Closing due to inactivity.

[2016-12-30 05:59] #10 closed

[2016-12-30 05:59] tanem commented on #9
Closing due to inactivity. Feel free to post a new issue or reopen this one if you feel the issue isn't resolved.

[2016-12-30 05:59] #9 closed

[2016-12-30 06:00] tanem commented on #5
Closing, assuming the thumbs up meant things were all good? Feel free to post a new issue or reopen this one if you feel the issue isn't resolved.

[2016-12-30 06:00] #5 closed

[2016-12-30 06:32] tanem commented on #14
Thanks for that extra info @marcholterman. I've got an idea of what that might be, so once I've had the chance to make some changes I'll let you know.

[2016-12-31 06:14] tanem commented on #14
@mikeriley131 @nikoskleidis @Montaldo

Just published `2.1.2` to address this issue... let me know how you get on with it?

[2017-01-01 15:18] viniychuk commented on #14
Hi @tanem, thanks a lot for creating and supporting your nifty package!

I use it for toolbar icons and want icon to change color when it's "active". I can set `fill="currentColor"` in SVG file and then use `color` property to set the color from the outside. It almost worked in 2.1.1, but I was getting pretty much the same error as @mikeriley131 . Now it got broken when I use `color` property to c

[2017-01-01 23:23] tanem commented on #14
Thanks @viniychuk. Think I can fix this by moving more of the DOM manipulation away from React. Will repost when I've got something working ⌛️

[2017-01-02 01:10] tanem commented on #14
@viniychuk just released `2.1.10` - want to see if that fixes your issue?

[2017-01-02 15:52] viniychuk commented on #14
@tanem Thanks so much, it works like a charm now!

[2017-01-04 02:13] duro commented on #14
@tanem I'm still getting this error in 2.1.10

Here is what my component definition looks like:

[code]

[2017-01-04 02:15] duro commented on #14
If it helps, the SVG does render to the DOM, I just get that error as well.

[2017-01-10 19:21] tanem commented on #14
Thanks @duro, will get back to ya once I've had the chance to look properly 👍

[2017-01-11 09:15] tanem commented on #14
@duro I haven't been able to recreate your issue using an isolated example, are you able to provide more context?

FWIW, it does look similar to the error output we saw many versions ago, so you might just want to make sure you are indeed pulling in the correct version of this library. Maybe something along the lines of:

[code]

Also, this may or not be useful to you, but there's a JSBin I someti

[2017-01-17 09:23] astandrik commented on #14
Having this issue too. Occurs on first render. element seems to have no parentNode on the first injectElement call

[2017-01-18 09:01] tanem commented on #14
@astandrik @duro just published `2.1.14` if you want to try that?

It's a bit of a shot in the dark though... any chance you can provide more context around what's happening in each of your cases? If need be I'll expand the examples and/or test cases to account for your scenario(s).

[2017-01-18 09:11] tanem commented on #14
Thanks @astandrik. Published `2.1.14` but don't think that will help your situation (although more context would be nice 😉). Tempted to try using refs and one of the approaches using the ref callback mentioned in #13. Will let you know once I've done that.

[2017-01-18 09:41] tanem commented on #14
@duro @astandrik just published `2.1.15` which tweaks the lifecycle a bit, as mentioned above. Let me know how you get on? 🙏

[2017-01-18 10:07] astandrik commented on #14
Can't say it helped alot sorry. I'm doing the following:

[code]

[2017-01-18 20:09] tanem commented on #14
Thanks @astandrik, think I managed to recreate your issue (or at least a very similar one 😅). Have released `2.1.17`, can you let me know if that's any better now?

[2017-01-18 20:12] tanem commented on #14
Thanks @astandrik, think I managed to recreate your issue (or at least a very similar one 😅). Have released 2.1.17, can you let me know if that's any better now?

[2017-01-19 00:44] kathrynreagan commented on #14
I had a similar issue as @astandrik's earlier today, but downloaded 2.1.18 and am no longer receiving the type error.  Thanks!

[2017-01-19 02:54] tanem commented on #14
Great, thanks for reporting back @kathrynreagan 💪

[2017-01-19 07:01] astandrik commented on #14
Now everything works great.tr Thanks for your efforts!

[2017-01-19 14:45] micchyboy opened #15 "'window is not defined' error when importing"
Why am I getting an error

`node_modules/svg-injector/svg-injector.js:464
}(window, document));
  ^
ReferenceError: window is not defined`

I just installed and imported
`import ReactSVG from 'react-svg';`

Throws me the error.

[2017-01-19 20:02] #14 closed

[2017-01-19 20:12] tanem commented on #15
@micchyboy can you provide more context please? In particular, where are you trying to run your app? (e.g. browser?)

[2017-01-20 14:19] hect1c commented on #15
I get the same issue. I am trying to run my app in the browser, and I set it into my component. But once it reloads I get the error. Not sure what further information you require but I get the same error as @micchyboy just from the import itself.

[2017-01-20 22:29] tanem commented on #15
@hect1c code samples, or even better, isolated failing examples always help.

At the moment, all I have to go on is the fact that both of your basic imports are throwing an error. I've created my own examples using the `lib` build, and they're working fine along with the published example and the test suite.

Since other users are not reporting such a fundamental issue (see #14 that was closed a d

[2017-01-23 23:52] baldwmic opened #16 "SVG Injector No Longer Maintained"
Not really an issue, but more of a question.

This library heavily relies on the [SVGInjector](https://github.com/iconic/SVGInjector) library as a [dependency](https://github.com/atomic-app/react-svg/blob/master/package.json#L40). There are [open PR's](https://github.com/iconic/SVGInjector/pulls) in the SVGInjector repo dating back to over 2 years ago, aka it seems to no longer be maintained.

@ta

[2017-01-26 23:47] tanem commented on #16
Hey @baldwmic, yea noticed that too. I'd like to be able to say that library has stabilised and all the issues and PRs are not actual bugs... but I can't 😅

For now I've just been trying to find ways around things like this that don't rely on the underlying lib. So for your case, is it possible to wrap your `ReactSVG` definition in a `div` or something similar, and handle the clicking via that?

I

[2017-01-27 00:00] baldwmic commented on #16
Thanks for explaining your perspective @tanem.

I've gone the route you suggested and just wrapped SVG's with a div, helps me handle clicking and even different classes being passed into the container div.

[2017-01-27 00:00] #16 closed

[2017-01-30 10:17] tcompart commented on #15
This error is also on our side. When we compile the ECMAScript 6 Code with Babel in webpack.

The stacktrace looks then like this:

[code]

[2017-02-01 21:06] tanem commented on #15
Thanks @tcompart, that's what I was thinking it might be.

Be good to hear back from someone once it's sorted, even if it's just to share a snippet of webpack config, so the solution can be found in future 👍

[2017-02-15 23:38] kaifaust commented on #15
I get this error when trying to build a static site with Gatbsy. Anyone working on a solution or know of an alternative svg tool that can handle windowless rendering?
[code]

[2017-02-16 16:58] jaegz opened #17 "[Feature Request] - Add API prop to prefix style declarations exported by Adobe Illustrator"
Really digging react-svg! However, I've run into a problem which requires a manual process to correct. When a designer hands over svgs exported from Adobe Illustrator - the generated styles have matching selectors - which causes colors to "spill over" into other svgs. If this component had an api option that steps through and prepends these styles with the something like the svg filename or even a

[2017-02-16 19:59] tanem commented on #15
@kaifaust hmm yea, looks like a somewhat common issue:

https://github.com/gatsbyjs/gatsby/issues/309
https://github.com/gatsbyjs/gatsby/issues/514

Just published `2.1.19`, do you want to try that to see if it solves your issue?

[2017-02-18 09:06] kaifaust commented on #15
That worked, thanks for addressing that so quickly! I'm happy to revert back to your library, here's the difference in my project:

[code]
vs
[code]

[2017-02-18 15:56] mFingers commented on #16
FWIW, [svg-injector-2](https://github.com/flobacher/SVGInjector2) seems to be the front-running fork, and appears fairly active.

[2017-02-19 19:36] tanem commented on #15
@kaifaust good news! Yea looks cleaner eh 👍

[2017-02-19 19:36] #15 closed

[2017-02-19 19:49] tanem commented on #17
Hey @jaegz. I see this as more of a build time / preprocessing step, rather than something that should be added to react-svg.

Some options I can think of:

- Changing the export process somehow, so instead of specifying `fill` via CSS, it gets specified via the `fill` attribute on the required elements. I'm not sure how to do this with Illustrator off the top of my head.
- Cleaning up the SVGs vi

[2017-02-20 20:55] kamarajuPrathi opened #18 "Unable to load the image"
import React from "react"
import ReactSVG from 'react-svg'
class Integrat extends React.Component {
    render() {

        return  <div>
            <ReactSVG path="icon.svg"></ReactSVG>

        </div>
    }
}
export default Integrat

My svg file is in the same folder ,
i tried giving path as "./icon.svg", it didnt load

[2017-02-20 21:05] tanem commented on #18
@kamarajuPrathi see #7 and #10. Sounds like you need to be running a local webserver to get things to work properly.

[2017-02-20 21:06] kamarajuPrathi commented on #18
I am running my application using node , do i need to do anything different

[2017-02-20 21:46] kamarajuPrathi commented on #18
@tanem I have gone through #7 and #10 but didnt get any insight

[2017-02-20 22:04] tanem commented on #18
@kamarajuPrathi I'm talking specifically about this comment I made in #7:

So, what exactly do you mean here?

For example, are you using something like [create-react-app](https://github.com/facebookincubator/create-react-app) to build your app? What error output do you see? Does the example in this repo run correctly for you?

[2017-02-20 22:13] kamarajuPrathi commented on #18
@tanem I could see that, when i say i using node .I am using node to run my react application and am using a webpack .
I dont see any error , but the image doesnt show up

[2017-02-21 07:09] tanem commented on #18
@kamarajuPrathi thanks, it's still hard to figure out exactly what's going on here though. I'm pretty confident it's not an issue with this module, and more an issue with your setup.

Can you push your complete project to Github? That would make it easier to debug.

[2017-02-21 20:26] jaegz commented on #17
Hi @tanem thanks for getting back to me and I see what you're saying.

- It would be great if Illustrator took the layer name and used that as the class name.
- Definitely going to have a look at svgo, thanks for the suggestion.
- This is what I've went with for now. Luckily the svgs I'm currently dealing with aren't super complex and Sublime's Emmet is handy here.

Here's the svg content from the

[2017-02-22 14:32] kamarajuPrathi commented on #18
@tanem sure will do it

[2017-02-22 15:21] kamarajuPrathi commented on #18
@tanem  i check with simple project its working fine ,
but in my actually project i have webpack config
  {test: /.jsx?$/, loader: 'babel-loader', exclude: /node_modules/}
do i need to do something different to achieve it

[2017-02-22 21:42] tanem commented on #18
@kamarajuPrathi it's too hard to tell what's going on just from that snippet. I'd recommend looking through the docs and using [create-react-app](https://github.com/facebookincubator/create-react-app/) to build your app. That'll give you a solid starting point.

[2017-02-23 19:54] tanem commented on #17
@jaegz cool.

Just did some digging, apparently in Illustrator there's a CSS properties option you can change when exporting SVGs: http://articles.dappergentlemen.com/2014/12/17/demystifying-illustrator-svg-css/. Hopefully you can use that to stop output of the external `style` element, and instead output inline styles so they don't leak everywhere.

I think the above in combination with svgo - pl

[2017-02-23 19:54] #17 closed

[2017-02-23 19:56] tanem commented on #18
Hey @kamarajuPrathi, I'm going to close this issue now since it doesn't appear to be an issue with this module, rather an issue with your project setup. All the best with getting things sorted 👍

[2017-02-23 19:56] #18 closed

[2017-02-23 20:30] jaegz commented on #17
@tanem Thanks for the extra details on exporting out of Illustrator and going out of your way to do some digging!

[2017-05-01 11:16] Nesrider opened #19 "Img Default Special Border"
So the svg file I loaded is working great. This is more of a small aesthetic/experience issue. I have added the ReactSVG component to one of my pages. However, when the page loads there is a slight blink of a white rectangular border (the page background is black) and then my svg appears and the border disappears. I think this issue has something to do with the fact that the default element, when

[2017-05-01 16:37] #19 closed

[2017-05-05 20:09] ebhoren opened #20 "Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead."
I have this warning when running react-svg from create-react-app boilterplate.

**Warning: Accessing PropTypes via the main React package is deprecated. Use the prop-types package from npm instead.**

Could you consider replacing this by below in src/index.js?
import React, { Component, PropTypes } from 'react'

to

import React, { Component } from 'react'
import PropTypes from 'prop-types'

Thank

[2017-05-11 17:39] strachsel opened #21 "svgs don't get loaded"
I've set up the react-svg last night and it worked correctly. Today I'm running the server and the SVGs don't get displayed, but they still get console logged. Any ideas of why that might be happening?

[2017-05-11 17:49] #21 closed

[2017-05-15 21:15] ianlyons commented on #20
Resolved with #23, just waiting for a maintainer :+1:

[2017-05-19 21:25] ianlyons commented on #20
@tanem do you have an idea of when you might be able to review the two open pulls? i don't really wanna fork this, but i understand if you guys are too busy

[2017-05-23 15:38] Bleeky commented on #20
Much needed update indeed ! This warning is not cool to look at 😄

[2017-05-24 09:39] tanem commented on #20
Hey all, sorry for the delay, been tied up on other things. Just looking at that PR now.

[2017-05-24 09:54] tanem commented on #20
Just pushed `2.1.20`, should be all good now 👍

[2017-05-24 09:54] #20 closed

[2017-08-16 10:33] inferusvv opened #24 "Two div elements wrap svg icon"
Is it necessary to wrap SVG by 2 div elements in DOM? Maybe render only svg without div's or use only one wrapper element?

[2017-08-18 21:34] chuck-durst commented on #24
+1

[2017-09-04 01:25] ijpiantanida opened #25 "react-svg throws error if another component has an error"
`react-svg` started reporting the following error when there was an unrelated error on another component's `componentWillMount` method (a property access on undefined).

Only this was reported and I couldn't see where the original error was, which made debugging it pretty difficult:

[code]

Unfortunately this is a stopper error and I had to switch libraries. Thought I should report it anyways.
Th

[2017-09-08 00:14] tanem commented on #24
That was actually how this module was originally created, however:

- An extra parent element was added in ab0a4e7 to fix #14.
- The `img` was changed to a `div` in ef9d172, since we weren't providing the mandatory `src` attribute.

[2017-09-08 00:14] #24 closed

[2017-09-08 00:16] tanem commented on #25
Thanks @ijpiantanida. Any chance you can provide some more context around this so I can try to reproduce it? A snippet of that `componentWillMount` method and an idea of how the components were wrapped up would help 👍

[2017-09-10 21:26] DavidSvetlik commented on #24
Hi,
couldn't you please at least provide a way to target those divs (eg custom class)? Or how are we supposed to target those divs in CSS?

Thank you,
D.

[2017-09-11 02:23] tanem commented on #24
@DavidSvetlik: without seeing your use-case I'm guessing a bit, but one way you can do this is wrap the output of this module in your own element which does have a class or id etc, then work from that to target the divs perhaps via a descendant selector.

If you want to provide a use-case, can you please open a new issue as well and we can work from that? (What you're asking sounds different to th

[2017-09-11 15:23] DavidSvetlik commented on #24
@tanem You are right, I can wrap it in another element. Thanks.

[2017-09-17 22:07] tanem commented on #25
Closing this for now, will reopen if I hear of it occurring again and there's a test case I can work with.

[2017-09-25 16:57] gitpayal opened #26 "react-svg android compatibility"
When I build react-svg for android , it throws error. Do we have any alternative for android? Please help My code is below

import ReactSVG from 'react-svg';

<ReactSVG
                        path='../../../public/img/settings.png'
                      />

[2017-09-26 18:59] tanem commented on #26
@gitpayal looks like your code sample is incomplete, can you paste the rest please? What error are you seeing, can you attach some details of that too?

[2017-09-27 08:19] gitpayal commented on #26
Thanks Tanem for the reply. Following are my app specifications :->
"react": "^15.4.1",
 "react-native": "^0.42.3",
"react-svg": "^2.1.21"

I am using the below code for showing sag images as icon in my app 👍

import ReactSVG from 'react-svg';

 <ReactSVG
    path="../../public/img/svgs/settings.svg"
   />

This code works in safari iOS but gives error in android(v 7.0) application while building

[2017-09-27 20:40] tanem commented on #26
Thanks for the info. As you said re building the app, this looks like an issue with your setup, but it's not something I'm familiar with.

At this stage it doesn't look like a ReactSVG issue to me, but [running a quick google search](https://www.google.co.nz/search?dcr=0&q=Error%3A+The+file+name+must+end+with+.xml+or+.png&oq=Error%3A+The+file+name+must+end+with+.xml+or+.png&gs_l=psy-ab.12...0.0.0.

[2017-10-02 19:09] tanem commented on #26
Closing this issue as it doesn't look related to this project.

[2017-10-02 19:09] #26 closed

[2017-10-20 20:54] CurtisHumphrey opened #30 "Double Div"
Is there a reason this is output Div > Div > SVG?  It could be just Div > SVG right?

[2017-10-21 16:53] iporollo commented on #30
I am also having this problem, any way to remove this?

[2017-10-21 16:57] iporollo commented on #30
Actually this is a repeat of #24

[2017-10-21 17:15] iporollo commented on #24
Would love an example of the solution

[2017-10-21 20:37] tanem commented on #30
Yep as mentioned above, this issue has been raised previously and an explanation provided [here](https://github.com/atomic-app/react-svg/issues/24#issuecomment-327964525).

[2017-10-21 20:37] #30 closed

[2017-10-21 20:47] tanem commented on #24
@iporollo if we use the example contained in this repo, what I'm getting at is doing something like this:

[code]

Then, you can use CSS however you like to target the internal elements, e.g.:

[code]

[2017-10-30 01:40] simpson opened #31 "Update to SVGInjector2?"
Since the Waybury team stopped supporting SVGI a long time ago, any thoughts on updating this or creating a new version with the newer supported version of SVGI2?

https://github.com/flobacher/SVGInjector2

[2017-10-30 07:06] tanem commented on #31
Hey @simpson, this has come up before in #16 but to be honest I haven't given it much more thought, since this library at the moment is working and stable.

When I can carve out some time I'll take a closer look, but what sort of things are you thinking would be advantageous to have from SVGInjector2?

[2017-11-27 19:20] tanem commented on #31
Closing due to no activity...

[2017-11-27 19:20] #31 closed

[2017-12-05 20:36] nicomfe commented on #25
@tanem hey man, Im having this issue only when running my tests with jest. I created a repo so you can reproduce it.

https://github.com/nicomfe/react-svg-issue

There is just 1 unit test to reproduce this issue.
Steps to reproduce:
1- Clone repo
2- npm install
3- npm test

[2017-12-05 21:38] tanem commented on #25
Cool, thanks @nicomfe, will get onto it soon as I can :+1:

[2017-12-06 22:49] SCasarotto opened #37 "IE11 Support"
First of all thanks for this library, I have been using it a lot in a number of production projects.

Have you done much work with this library on IE11. I have a project where on all other browsers layout works correctly but on IE11 the height of the SVG doesn't adjust when the width is changed. It looks like possibly adding preserveAspectRatio="xMinYMin" seemed to help but I don't know how to pas

[2017-12-08 07:18] tanem commented on #25
@nicomfe just published version `2.2.3`, want to see how it's behaving for you now?

[2017-12-08 07:41] tanem commented on #37
No worries @SCasarotto. Haven't actually used this lib on IE11 myself, but if a bug warranted it I'd be happy to fire up a VM to check it out 😅

In this case though we may be able to get what you're after by hooking into the `callback` prop. Using the example in this repo, you could try something like:

[code]

I'm not 100% sure if this will work for you use-case, but keen to hear how you get on?

[2017-12-08 14:48] SCasarotto commented on #37
Thanks for the info. I didn't think about using the callback. I will try this and let you know.

[2017-12-11 12:35] nicomfe commented on #25
works now! thanks

[2017-12-11 17:03] tanem commented on #25
Nice 👍 No prob.

[2017-12-11 17:03] #25 closed

[2017-12-13 19:13] tanem commented on #37
Hey @SCasarotto, before I close the issue assuming everything is ok... how'd you get on using that `callback`?

[2017-12-14 15:36] SCasarotto commented on #37
@tanem thanks for checking in. I haven't had a chance to check back on this. I don't have a virtual machine or regular access to IE11. Feel free to close it and I can reopen it if I run into trouble testing this. Thanks!

[2017-12-14 18:41] tanem commented on #37
@SCasarotto no probs, sounds good 👌

[2017-12-14 18:41] #37 closed

[2018-01-03 00:25] blaynem-moovel opened #42 "only rendering one svg icon"
Very new to SVG's, so please tell me what I'm doing wrong.

Issue seems to be that while im importing completely different SVGs from different locations, it will only render one svg type. So if I'm trying to render a ticket, a trash can and a card, it will render 3 trashcans. Etc.

I have tested them individually, and they work correctly.

Example below will render three of the same icons, despite

[2018-01-03 03:43] tanem commented on #42
Hey @blaynem-moovel, `path` is actually a string and is the path to the svg itself, rather than the actual SVG content which is what I think you're importing there.

Does something like this work?

[code]

[2018-01-03 17:16] blaynem-moovel commented on #42
I thought that might work, but then I'm getting an "Unable to load SVG file" error. The thing is, the svgs render when it was the other way. They just only render one svg "model" for the three instead of three separate "models".

[2018-01-03 18:03] blaynem-moovel commented on #42
So I believe the issue is that the svg files i'm trying to use all have the same Id's throughout multiple files.

[2018-01-04 07:21] tanem commented on #42
Will do, thanks for the update @blaynem-moovel 👌

[2018-01-04 07:21] #42 closed

[2018-01-17 12:59] A-Tokyo commented on #42
@blaynem-moovel I am having the same issue probably, but I made sure my files don't have the same IDs, can you enlighten me how was your case solved? 😁

[2018-01-18 17:40] blaynem-moovel commented on #42
@A-Tokyo of course!

So the issue I was having was that all of our SVG's had very similar markup. In the example below you'll notice that inside of the `<path>` there is an id that is set as `id="path-2"`. Now if you look below that, you'll see that the two `<use>`'s are linking to that id. The problem was that every single SVG file I had, was using the exact same `id` of `path-2`. So when the SVG

[2018-01-19 23:58] roy-gbiv commented on #25
We had this problem swallowing so many of our errors for *months*, resorting to disabling this module when it got in the way of debugging. So glad this was finally fixed!!!

[2018-01-21 17:03] tanem commented on #25
Glad to hear @roy-gbiv, thanks for letting me know 🎈

[2018-02-02 22:17] JurajLigo opened #48 "Additional DIV over the SVG"
Hello,

i have code in project like this

`<ReactSVG path={imagePath} className="mobile-service-box__contact-icon"/>;`

but the result is wrapped in two DIVs why is that ? i dont want these DIVs

`<div><div><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="216px" height="146px" viewBox="0 0 216 146" enable-background

[2018-02-03 01:11] tanem commented on #48
Hi @JurajLigo this has been answered a few times already, see [here](https://github.com/atomic-app/react-svg/issues/24#issuecomment-327964525).

[2018-02-03 01:11] #48 closed

[2018-02-09 08:45] raghav1086 opened #49 "How to use react-svg for images used in CSS background?"
I am using few svg image icons as a background image and on hover it should change to different color. Right now I am using hover image for hover effect which is little bit slow to load on mouseover and not very smooth looks jerky. I am looking for a way if I could use svg fill property in css to change the svg color on hover rather having hover image.

[2018-02-10 17:27] tanem commented on #49
Hey @raghav1086, [the API](https://github.com/atomic-app/react-svg#api) exposes a `wrapperClassName` prop which you can then use to target the innards of your SVG with custom styles.

Using the example in this repo [which sets `wrapperClassName="wrapper-class-name"`](https://github.com/atomic-app/react-svg/blob/master/example/index.js#L13), I could add the following style somewhere to change the f

[2018-02-12 02:45] raghav1086 commented on #49
@tanem I got your point we can easily give hover effect if element is in direct dom but my question was for images used as background using css like this...

[code]

[code]

[2018-02-12 21:04] tanem commented on #49
@raghav1086 I'm having trouble understanding your question exactly: Is it related to this library, or is it a general CSS question?

If you're looking to replicate what you just posted using this library, then you could just re-render this component with the new SVG path when it's appropriate.

If it's a CSS question I'll close this issue as it's not related to this library, but I did do some digg

[2018-02-13 02:09] raghav1086 commented on #49
@tanem My bad for bad explanation but you got it correct. I am looking to replicate above code using this library but not able to do it. Could you please show me example how I can use this library for scenarios I have posted above. It will be a great help.

[2018-02-14 09:06] tanem commented on #49
Hey @raghav1086, no worries, I'll have a go at a couple examples soon once my day job quietens down a little 😉

[2018-02-15 17:49] tanem commented on #49
@raghav1086 I've added to working examples of what I'm talking about to an [issue-49 branch](https://github.com/atomic-app/react-svg/tree/issue-49/examples/issue-49). I'll merge this stuff to `master` at some point.

To view the examples on that branch, run `npm start`, then point a browser at either `http://localhost:8080/issue-49/fill` (changing `fill` via CSS) or `http://localhost:8080/issue-49

[2018-02-16 08:10] raghav1086 commented on #49
@tanem Thanks very much for your time. It is a great helps 👍 please close this issue.

[2018-02-17 16:11] tanem commented on #49
No problem @raghav1086 👌

[2018-02-17 16:11] #49 closed

[2018-03-08 16:21] ianlyons opened #53 "Cannot read property 'DOMNodeInsertedByJs' of undefined"
Hi,

I'm getting this error a fair amount in production, specifically on Chrome Mobile from Android 6.0 and 7.1 devices: "Cannot read property 'DOMNodeInsertedByJs' of undefined", happening right here: https://github.com/atomic-app/react-svg/blob/master/src/index.js#L47, after this call: https://github.com/atomic-app/react-svg/blob/master/src/index.js#L66

Here's the full stacktrace:
[code]

I ass

[2018-03-08 16:38] ianlyons commented on #53
Actually, I'm seeing this in IE11 too, it was just grouped as `Unable to get property 'removeChild' of undefined or null reference`

[2018-03-08 19:19] tanem commented on #53
Hey @ianlyons. Yea I think guarding it is the simplest thing to do for now: Do you want to review/try out PR #54 to see if it fixes your bugs? (Note that I'm being a bit lazy and haven't tried to recreate this locally yet).

[2018-03-15 19:51] tanem commented on #53
@ianlyons any feedback on this stuff? ☝️I'mThinking I'll just release that PR over the weekend...

[2018-03-20 04:05] tanem commented on #53
@ianlyons merged and released as `2.2.15`. I'll close this issue, but if things still don't look right then feel free to post back here.

[2018-03-20 04:05] #53 closed

[2018-04-01 21:51] ianlyons commented on #53
Sorry for the delay, been busy with other stuff -- I'll bump our version on Monday and report back sometime next week.

Cheers! Thanks for being a great package owner!

[2018-04-25 17:24] ChrisGarber-Medlever opened #58 "Click Support"
Love the library, it's saving us a lot of time and effort. Is there any chance you're planning to add onClick support? Often we use svgs like buttons, and it would be great if the component could pass whatever function it received from props onto a click handler of the first div. I could create a pull request if you want!

[2018-04-26 04:43] tanem commented on #58
Hey @ChrisGarber-Medlever, glad to hear it's working well for you.

One way you can do what you're after right now is to render `ReactSVG` inside a wrapping element, and handle the click event there. There's a runnable example in [this branch](https://github.com/tanem/react-svg/tree/issue-58) if you want to check it out. Relevant commit is [here](https://github.com/tanem/react-svg/commit/1bed7cfa5

[2018-04-26 06:04] ChrisGarber-Medlever commented on #58
A wrapping element is the work around I've been using. Not a big deal but certainly less intuitive. Here's my argument for this feature; this library acts as my SVG tags. I like to think we're moving towards a world where svgs are considered elements just like divs, etc. It's very natural for me to hook up a click handler on a div, so why not in an SVG element? I really like the wrapperClassName f

[2018-04-28 07:37] tanem commented on #58
Thanks for taking the time to explain things more from your POV @ChrisGarber-Medlever.

As you may have guessed, from my end this is more of a philosophical argument as opposed to an ease of implementation one. I could probably have helped things by providing a bit more in the way of usage docs too.

There's something about a potentially ever-expanding component API that doesn't sit right with me

[2018-04-29 03:36] tanem commented on #58
@ChrisGarber-Medlever just released v3, now you should be able to add an `onClick` handler onto the wrapper element. Will leave the issue open for a bit in case you have any more feedback though.

[2018-05-03 01:25] ChrisGarber-Medlever commented on #58
I love the idea of spreading the props to the wrapper, very clean. Any chance you could release this on npm? I'm gonna submit a pull request to @types/react-svg to add an intersection type for us typescript users

[2018-05-03 08:13] tanem commented on #58
Nice one 👍v3.0.1 should already be available on npm from that earlier release.

[2018-05-04 03:05] tanem commented on #58
@ChrisGarber-Medlever I'll close this issue down now as it looks like we've sorted the things you were after? Happy to reopen though if something's been left out 👌

[2018-05-04 03:05] #58 closed

[2018-05-07 12:01] jepicode opened #62 "CSS Height issue, parent of svg"
Hi, I interested with your repo. But something happen. when I declare the reactSVG like this
`<ReactSVG path={LogoBanner} alt="" svgStyle={{ width:"100%", height:"auto" }} />`

that will create div parent with svg tag inside. But the problem is the div parent is different height with the svg tag (the div is more tall then the svg), I inspect and not found which one makes the parent taller

[2018-05-11 00:53] tanem commented on #62
Will close this issue now @jepicode as I'm pretty confident my previous response is what you're after. Feel free to comment again though if you're still stuck.

[2018-05-11 00:53] #62 closed

[2018-05-15 13:59] SCasarotto opened #68 "Fill URL being converted on render"
When react-svg renders this:

[code]
<img width="1022" alt="screen shot 2018-05-15 at 8 57 13 am" src="https://user-images.githubusercontent.com/13336976/40061289-32765d94-581e-11e8-9a91-4d2c2e6024f5.png">

it renders this:

[code]

<img width="444" alt="screen shot 2018-05-15 at 8 57 19 am" src="https://user-images.githubusercontent.com/13336976/40061298-36893528-581e-11e8-832f-04a1999b7aa8.png">

[2018-05-16 00:12] tanem commented on #68
Hi @SCasarotto, can you please post how you're actually calling `ReactSVG`? (Or even better, a working example or something I can use with the current `examples` setup in this repo). That will help me figure out what's actually going on.

[2018-05-16 00:12] SCasarotto commented on #68
Yeah, I can try to post an example tomorrow.

[2018-05-17 05:44] tanem commented on #68
You need to move `svgPath.svg` up into the `public/` folder in CodeSandbox.

Looks like the issue is due to SVGInjector not updating the `xlink:href` values when it generates unique ids [here](https://github.com/iconic/SVGInjector/blob/bd355bebb1903e1eac608883a8b5af5e7e6d5fd2/svg-injector.js#L284). I'll have to some more debugging to see exactly what's going on, so will post back when I know more.

[2018-05-17 13:54] SCasarotto commented on #68
Ah, my mistake. I hadn't ever tried adding a file to codeSandBox. I moved it to the public folder (https://codesandbox.io/s/9430v150xr) but am still receiving this error: `Attempted to inject a file with a non-svg extension: ...`

[2018-05-18 00:49] tanem commented on #68
Apologies, I forgot to mention earlier that you also don't need to `require` the SVG. As per the docs, just the path is required:

So `path={require("svgPath.svg")}` should be `path="svgPath.svg"`.

[2018-05-18 16:12] mydearxym opened #69 "v3 version not compatible with styled-component"
hi there ~

currently i am using v2 version for my project, and it works fine:
![image](https://user-images.githubusercontent.com/6184465/40245491-75bb85f2-5af8-11e8-925f-6776f645fefb.png)

after upgrade to v3:
![image](https://user-images.githubusercontent.com/6184465/40245820-3c537c2e-5af9-11e8-8e05-19a98148735c.png)

project usage example:
[code]
it seems v3 change: className -> svgClassName ca

[2018-05-18 19:59] tanem commented on #68
Turns out this issue is solved in a more-maintained fork of `SVGInjector` called [`SVGInjector2`](https://github.com/flobacher/SVGInjector2).

There have been issues raised here before about possibly using that library: #31, #16. In the past I've been on the fence about that, but since this is a legit issue that needs fixing I'm strongly considering switching to it.

Other options would include:

[2018-05-18 20:02] SCasarotto commented on #68
@tanem Thank you for following up and all of your work here. It is greatly appreciated.

[2018-05-18 20:16] tanem commented on #69
Hmm, yip that's not looking good 😓 Along with that naming change you mentioned, any extra non-documented props are now being applied to the wrapper element, which could be affecting things too.

I'll dig into this later today. There should be a couple ways around this, but I'll need to refresh my brain re `styled-components`.

[2018-05-18 21:46] tanem commented on #69
@mydearxym one way around this is to tweak that CSS you have slightly, so that the `svg` element is still being targeted by your styles:

[code]

Keen to hear how this works out for you 🙏

[2018-05-19 00:39] mydearxym commented on #69
@tanem  thanks for the solution, it works like magic !

to upgrade to this new syntax i have to change lots of code, so is this new syntax be the final syntax in future versions ?

[2018-05-19 01:39] mydearxym commented on #69
inspired by your solution,  i wrapped ReactSVG in common component :

[code]

a usage example:
[code]

thanks again @tanem

[2018-05-19 06:07] tanem commented on #69
You're welcome @mydearxym, glad to hear it's fixed 🎉

To answer your question about API stability, I can't give you a guarantee that this'll be the final version 🙈 However I can say that I consider breaking changes very carefully before actually applying them, and I ensure that if something is a breaking change it'll be tagged as a major version. At least that way you can continue using the older

[2018-05-19 06:07] #69 closed

[2018-05-19 08:03] tanem commented on #68
@SCasarotto just published v4.0.0 which uses `SVGInjector2`, this should fix things up for you. Also added a runnable example for this issue [here](https://github.com/tanem/react-svg/tree/master/examples/issue-68).

Will wait till I hear back before closing the issue 🙏

[2018-05-19 11:45] SCasarotto commented on #68
Seems to be working well. I really appreacite your help with this. 🙏 🎉

[2018-05-19 11:55] SCasarotto commented on #68
Correction, It apprears I am seeing the following errors in the console. I am trying to track down the cause of this as it is not happening in the example files.
[code]

[2018-05-19 12:00] SCasarotto commented on #68
It appears you fixed this issue before [here](https://github.com/tanem/react-svg/issues/14)

[2018-05-19 12:55] SCasarotto commented on #68
I cna't seem to narrow it down. Do you have any guesses where this would come from?

[2018-05-19 13:16] SCasarotto commented on #68
Here is an example of it happening https://codesandbox.io/s/9430v150xr . It appears when you wrap it in a div it happens.

[2018-05-19 20:17] tanem commented on #68
@SCasarotto thanks for reporting, I'll take a look this morning. Took a bit of a risk not publishing this as `@next`, guess that's biting us now 😓

[2018-05-19 21:41] tanem commented on #68
Just took a closer look, and whilst I can see how the missing `parentNode` error is manifesting itself, it looks like the fix has to be made to the `SVGInjector2` internals. That doesn't look straightforward, since it appears to have been significantly rewritten from `SVGInjector`.

So at this point in order to stabilise things as fast as possible, I'm going to take a detour and will make an attem

[2018-05-19 22:55] tanem commented on #68
As you can see, I've create a PR for the fix against the original repo ☝️

I'm not confident that it'll see any action however, so my plan is to deal with it in my own fork and publish a scoped package later today. That can then be used as the main dependency in `ReactSVG`.

Have to head out for a few hours now, so will pick this up as soon as I'm back (and thanks for your patience so far btw 🙏).

[2018-05-20 07:03] tanem commented on #68
Just published `v4.0.2` which uses [`@tanem/svg-injector`](https://github.com/tanem/SVGInjector). Let me know how you get on with this version 🙏

[2018-05-21 01:42] SCasarotto commented on #68
After updated to `v4.0.2` Everything seems to be working great! Also, @tanem no apologizing or thanking me for my patients. You are helping me and all the people who use this packages. I am grateful. Thank you very much for debugging with me and coming to a very quick resolution.

[2018-05-21 01:42] #68 closed

[2018-05-21 02:05] tanem commented on #68
Good to hear @SCasarotto, no worries and thanks for the feedback 🎈

[2018-05-25 10:37] Perneel opened #77 "Rendering fails since 4.0.3"
Last working version for me seems to be 4.0.2. Versions after that give me following error when visiting the page. Compiling itself seems to work without issues.

`Warning: React.createElement: type is invalid -- expected a string (for built-in components) or a class/function (for composite components) but got: object.`

npm -v: 6.1.0
node -v: v8.11.2

[2018-05-25 10:41] tanem commented on #77
@Perneel can you provide a sample of the code you're trying to run please?

[2018-05-25 10:47] tanem commented on #77
Ok just released `4.0.7` which affects the built packages, how's it looking now?

[2018-05-25 10:52] Perneel commented on #77
## Taglabel usage

[code]

## TagLabel component
[code]

[2018-05-25 10:56] Perneel commented on #77
@tanem 4.0.7 has the same issue it seems

[2018-05-25 11:01] tanem commented on #77
@Perneel hmm with 4.0.7, all my tests are passing, and the local examples in this repo render correctly, along with the CodeSandbox example: https://codesandbox.io/s/81lmrj4x28.

Have you tried the usual stuff like blowing away `node_modules/` & reinstalling etc? If that doesn't help, it'd be useful if you can isolate your example with the error on CodeSandbox 🙏

[2018-05-25 11:09] tanem commented on #77
@Perneel I see what's wrong with your example now, this:

`import * as ReactSVG from "react-svg";`

Should be:

`import ReactSVG from "react-svg";`

[2018-05-25 11:26] Perneel commented on #77
Hm I can't get it to work...

- deleted node_modules
- did a fresh npm i (with 4.0.8 version included)
- still gives the render message

4.0.2 is working without any issues thou?

Also, the change you suggested shows an error:

`[ts] Module '"<path>/node_modules/@types/react-svg/index"' has no default export.`

[2018-05-25 11:33] tanem commented on #77
@Perneel since it's almost midnight on Friday here and this is starting to delve into the intricacies of your particular setup (I can see TS in there), rather than try to debug this, I'll just try to patch it so we can move on 😅

In earlier versions I used the `babel-plugin-add-module-exports` plugin, which is probably why you're seeing different behaviour now. Give me a second to set up a branch,

[2018-05-25 11:42] tanem commented on #77
@Perneel just published `4.0.9`, want to try that with the earlier change to importing I suggested?

[2018-05-25 21:19] tanem commented on #77
@Perneel have just done some more digging about:

- Version `4.0.9` I mentioned above wasn't the correct fix, please ignore that. Those changes were removed in `4.0.10`.
- I went back to versions `4.0.2` and `3.0.6` of this repo, `import * as ReactSVG...` didn't work in either if you just tried to then render with `<ReactSVG ...`. This makes sense since that's a namespace import.
- The type checki

[2018-05-29 13:31] Perneel commented on #77
@tanem I did the steps you listed.

4.0.13 seems to work with `"allowSyntheticDefaultImports": true` :)

However I can't change the tsconfig.json configuration in my project (not allowed by team lead) so I had to switch back to version 3.0.6 sadly.

[2018-06-26 00:47] amykapernick opened #88 "Changing ids of gradients in defs"
I've been having issues where it's changing the ID of my gradient and therefore breaking the reference to the style, and because the appending number is a global variable, it changes each time I load a page.

It's possible to stop incrementing the ids by removing `linearGradient: ['fill', 'stroke'],` from `src/inject-element.js` in the svg-injector module, but can you set it so that each of these

[2018-06-26 01:53] tanem commented on #88
Hey @amykapernick. IIRC that ID re-generation in SVGInjector was done so that multiple instances of the same SVG could be injected safely on the page.

Think I get what your particular issue might be, but can you please try isolating & recreating it so I can get a better handle on what's going on? You could try forking [the basic CodeSandbox example](https://codesandbox.io/s/81lmrj4x28)?

[2018-06-26 05:05] amykapernick commented on #88
@tanem the issue is that it keeps changing the number at the end of the id depending on the page it's on ([https://5b2bc282b13fb1249c8fbb0b--aimhigher-dev.netlify.com/](https://5b2bc282b13fb1249c8fbb0b--aimhigher-dev.netlify.com/) the svg is in the header under HeroBack) because the appending number is a global variable.

I want the id to remain whatever I set it, because I want to be able to appl

[2018-06-27 00:31] tanem commented on #88
Thanks for the example. Looks like this issue huh iconic/SVGInjector#29 huh. I'll post back once I've had a chance to think about things a bit more 🤔

[2018-06-30 20:46] tanem commented on #88
Just published `4.1.0`, hopefully that helps. Will leave this issue open for a while in case you want to provide any feedback 👂

[2018-07-01 22:27] SCasarotto opened #91 "ingect-element error in 4.1.1"
After updating from `4.0.17` to `4.1.1` I started seeing this error.
[code]

[2018-07-01 23:19] tanem commented on #91
Thanks for reporting @SCasarotto. I'm just trying to figure out how that would have slipped through my tests etc 🤔

I can't seem to recreate that problem - are you able to provide a bit more info or a recreation of the issue? You could perhaps fork [the basic example on CodeSandbox](https://codesandbox.io/s/81lmrj4x28).

[2018-07-01 23:21] SCasarotto commented on #91
Huh yeah. I am not exactly sure what is causing it. I just reverted back to `4.0.17` in my product. I will try to recreate now.

[2018-07-01 23:39] SCasarotto commented on #91
At first attempt, I can't seem to recreate it. I might not get to it tonight but I will try to fit it in this week.

[2018-07-02 01:06] tanem commented on #91
Alrighty. I'll leave the issue here until I hear back then :+1:

[2018-07-04 00:54] philmayfield opened #92 "Getting an error with Jest tests"
Trying to write some tests on a component with children that use react-svg, but running into the following error:

[code]

Any thoughts?

[2018-07-04 04:30] tanem commented on #92
Looks like you're using Jest (or at least jsdom?) and there's an issue with your configuration.

I solved a similar issue in this repo a while back, maybe this will be of some use? https://github.com/tanem/react-svg/blob/v3.0.0/test/setup.js.

[2018-07-04 04:34] tanem commented on #92
Looks like you're using Jest (or at least jsdom?) and there's an issue with your configuration.

I solved a similar issue in this repo a while back, maybe this will be of some use? https://github.com/tanem/react-svg/blob/v3.0.0/test/setup.js.

[2018-07-04 04:35] tanem commented on #88
Closing as no response, but feel free to ping me if anything crops up.

[2018-07-04 04:35] #88 closed

[2018-07-04 04:58] philmayfield commented on #92
Indeed I am using Jest.  I used what you suggested and I'm back in business.  Much appreciated!

[2018-07-04 08:12] tanem commented on #92
Awesome, glad to hear it :tada:

[2018-07-04 08:12] #92 closed

[2018-07-05 12:38] talibasya opened #93 "deprecated source"
Hello. Nice library 👍

I just recognized one thing. Tried to find the source or documentation `npm docs react-svg` and the browser shows me this repository. Tried `className` and `svgClassName ` as documented but didn't reach the goal 😞

After quick look into `node_modules` I find that your have upgraded npm exclude github repository.

For example: `wrapperClassName`, and updated role of `classNam

[2018-07-05 17:03] tanem commented on #93
Hi there.

Sounds like you might be talking about migrating between major versions of this library? If so, [MIGRATING.md](https://github.com/tanem/react-svg/blob/master/MIGRATING.md) might help?

Otherwise, can you please try recreating the issue you're seeing by perhaps forking the basic example on CodeSandbox? https://codesandbox.io/s/81lmrj4x28

[2018-07-07 20:35] tanem commented on #91
Hey @SCasarotto, any luck with the recreation, or do you think it's safe to close this issue?

[2018-07-07 21:40] SCasarotto commented on #91
Hey sorry @tanem it has been a busy week. I should have time today or tomorrow.

[2018-07-09 02:49] SCasarotto commented on #91
Closing for now. Haven't had time to get to upgrading and tracking this down.

[2018-07-09 02:49] #91 closed

[2018-07-14 00:28] mydearxym opened #102 "feature request: support shimmer effect while loading"
hi @tanem

it there a way to  simulates the shimmer effect while the SVG file is loading -- like [react-shimmer](https://github.com/gokcan/react-shimmer) ?

is `onInjected` equal to img's onload method ?

[2018-07-15 02:37] tanem commented on #102
Hey there.

I haven't had the chance to check out `react-shimmer` properly just yet, but it looks interesting... will carve out some time this week to have a closer look.

To answer your question though: Yep, `onInjected` will fire when the SVG is in the DOM. So you could potentially do something shimmer-like that utilises that callback.

[2018-07-15 04:59] mydearxym commented on #102
@tanem  thanks for explain :)

[2018-07-19 22:54] tanem commented on #102
Hey @mydearxym, just letting you know I'm tied up on some other work so haven't had the chance to look further into this as yet. Hopefully next week sometime.

Feel free to ask further questions here in the meantime though or close the issue if what we talked about earlier was enough to get you going 😎

[2018-07-20 04:23] mydearxym commented on #102
@tanem just go get some fun :)

the `onInjected` is what i looking for, thanks

[2018-07-20 04:23] #102 closed

[2018-07-23 18:20] brendandestefano opened #106 "Easy way to change fill?"
It seems like this doesn't work to change fill:
`<ReactSVG path={ StackIcon } svgStyle={ { width: 16, fill: '#363636' } }/>`

Is there something i'm missing? Or is there a different way to change the fill?

[2018-07-23 18:29] tanem commented on #106
Hard to see precisely what's happening without a full example, but a couple of things that might help:

1. `path` takes a string, not a component.
2. When setting style, don't forget to take into account the rendered structure of your SVG. For example you might want to be setting `fill` on an inner `rect` element. You can do this via external classes or inline styles (depending on how you've imple

[2018-07-23 23:49] tanem commented on #106
Just created two more related CodeSandbox examples that will hopefully help you out too:

- [External Stylesheet](https://codesandbox.io/s/qzwkmxr84w)
- [CSS-in-JS](https://codesandbox.io/s/w27npvv2nk)

These will be part of the `README` once #107 is merged.

[2018-07-24 12:18] ArsalanDotMe opened #109 "The library is throwing multiple errors related to use of ReactInstrumentation.debugTool on React 15.6.1"
Please see the below screenshot. I am on 5.0.2 of this library's version

![screen shot 2018-07-24 at 3 17 33 pm](https://user-images.githubusercontent.com/1993303/43137559-bada9b10-8f54-11e8-8f05-494f3a95cef4.png)

[2018-07-24 17:41] tanem commented on #109
Thanks for reporting. Can you please provide more info around what you were trying to do with ReactSVG here, or an example/snippets of your app set up?

I've tested things out on my end with a simple case using the development builds for `15.6.1`: https://codesandbox.io/s/lx2vq31l0l, and can't see anything just yet.

[2018-07-25 17:43] tanem commented on #106
Closing this issue now since #107 is merged. Feel free to tag me on the closed issue if you still run into trouble.

[2018-07-25 17:43] #106 closed

[2018-07-31 17:13] tanem commented on #109
Closing due to lack of activity. Feel free to tag me on the closed issue if you get a chance to address my earlier question though.

[2018-07-31 17:13] #109 closed

[2018-07-31 17:30] tanem commented on #109
No problem, thanks for the update!

[2018-08-06 19:32] SCasarotto commented on #91
@tanem Wanted to let you know. After looking back into this, it must have been something simple like I upgrade without restarting my react process. So this was probably never a real thing.

[2018-08-07 01:43] tanem commented on #91
Cool, thanks for taking the time to post an update @SCasarotto 💯

[2018-08-13 05:47] jharsono opened #123 "ID's in SVG's"
I am attempting to modify certain polygons within the svg through `document.getElementById()` and calling out the specific ID I have set in my svg file. However, I see that upon inspecting source in the browser, the injection loses the ID. Reading some other issues, it sounds like this is intentional so multiple instances of an SVG can be added. Is there a workaround for when I still need to acces

[2018-08-13 06:49] tanem commented on #123
Hey @jharsono, passing [`renumerateIRIElements={false}`](https://github.com/tanem/react-svg#api) should help you out here.

It's not the most clearly named prop, I know... one of these days it might end up with a different name!

Hope that helps anyway.

[2018-08-13 20:01] kevinmichaelchen opened #124 "react-svg vs native svg?"
what advantages does this library have over using a `<img>` tag with a url pointing to an svg?

[2018-08-13 23:08] jharsono commented on #123
Thanks for the quick response, @tanem! I added the boolean in as false, but I didn't see any difference.

Here is a snapshot of the implementation:
`return (
      <ReactSVG
        path={dogImage}
        className={className}
        renumerateIRIElements={false}
      />
    );`

here is the code in the SVG: `<path d="M109.701249,33.1703083 C109.701249,33.1703083 118.214211,21.7501663 111.49342

[2018-08-14 03:15] tanem commented on #124
Hey @kevinmichaelchen. This library is built on top of [SVGInjector](https://github.com/tanem/svg-injector), and there's a section in it's docs describing why you might want to inject the SVG into the DOM [here](https://github.com/tanem/svg-injector#why). Hope that helps.

[2018-08-14 13:09] kevinmichaelchen commented on #124
Thanks. I think this sums it up:

[2018-08-14 13:09] #124 closed

[2018-08-14 19:52] tanem commented on #123
No worries. Hmm yea that's a different scenario than what I was assuming initially.

I see you have a `className` on the wrapper there, don't suppose you can target the `path` element you're after via a selector based on that wrapper class? Something like:

[code]

I'd have to see more code to know if that's feasible for you though. There are [CodeSandboxes](https://github.com/tanem/react-svg#live

[2018-08-14 20:10] jharsono commented on #123
Good idea!  That will work for the entire SVG, but looks like any classes I've declared within individual paths of the SVG file don't get carried over when injected.

Specific to my example, id "dog-tail" is just the tail path element of an SVG that is of an entire dog. I want to be able to inject the SVG and access just the tail path element to animate that alone without having to slice out a sep

[2018-08-15 08:53] tanem commented on #123
Ok, thanks for the extra info. Having to wrangle complex selectors to get at nested child elements in a complex SVG could get pretty nasty right 😅

Had a closer look at this, and it looks like what you're seeing may be due to the browser caching the SVG (under the hood, SVGInjector makes XHR requests for the SVGs). So as you add or remove attributes like `id`, you may not see any changes.

Couple

[2018-08-15 09:29] Koshukey opened #125 "does not apear SVG"
In my react project, I use this library to show SVG.

However, my SVG does not appear.

Can anyone give me some advice?

<img width="282" alt="2018-08-15 18 26 23" src="https://user-images.githubusercontent.com/31874274/44141764-1aa052b8-a0b9-11e8-9fd6-71e96cc563ab.png">
<img width="744" alt="2018-08-15 18 27 19" src="https://user-images.githubusercontent.com/31874274/44141771-1d5a81c2-a0b9-11e8-9

[2018-08-15 17:50] jharsono commented on #123
So with `renumerateIRIElements={false}` and renaming the path to force load the new image, you're seeing an ID in an individual `path` element?  No luck on my end yet with that after additionally clearing cache, restarting webpack, etc. The ID still does not display, not even the default values from the SVG file.

[2018-08-15 17:54] tanem commented on #123
You don't need to set `renumerateIRIElements={false}`. At this point I think we need a proper repro to debug this properly, so couple options:

- Fork [the basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) and try to recreate the issue in isolation.
- Send me the full SVG and any other related code and I'll create a repro.

[2018-08-15 18:00] tanem commented on #125
Hey @Koshukey. At first glance your code looks fine, but can you please send me the contents of that `search.svg`? I'll try to create a repro.

Also, if you're looking to isolate issues between this library and your particular setup, feel free to check out the CodeSandbox examples. [The basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) might be useful

[2018-08-17 01:13] jharsono commented on #123
New theory! I just learned that we have this package: https://www.npmjs.com/package/svgo
I think that's the culprit for removing any ID's as it optimizes...

[2018-08-17 20:26] jharsono commented on #123
Thanks for the extra time and effort looking into this, @tanem!! True dedication. I'll close now!

[2018-08-17 20:26] #123 closed

[2018-08-17 21:05] tanem commented on #123
No probs @jharsono, thanks for sticking with it too 😉

[2018-08-22 06:52] tanem commented on #125
Closing due to lack of activity. If this is still an issue, please tag me again and we can discuss re-opening.

[2018-08-22 06:52] #125 closed

[2018-08-22 08:44] zilahir opened #133 "svg is invisible"
Hey! I guess i am gonna need some help. I am trying to render an SVG, but it's not appearing.

Here's my snippet:

`import React, { Component } from 'react';
import { render } from 'react-dom'
import ReactSVG from 'react-svg'
import PlayButton from './fonts/player/play.svg';

class ControlBtn extends Component {
    constructor(props) {
        super(props);
    }
    render() {
        return(

[2018-09-05 04:52] Mrezagolbaba opened #145 "clickable in any part of svg"
hi
i have some svg file like map ,i want to click on any part and see id of any part in console
is this package can solve this?

[2018-09-05 17:36] tanem commented on #145
Hi there. This component just deals with loading the SVG into the DOM, so once it's there you can use whatever DOM methods/handlers you like to get at things.

If you provide a sample of the SVG you're talking about, I can have a play around to see how we might be able to do what you're after?

[2018-09-12 17:05] tanem commented on #145
Closing this issue due to lack of activity. Feel free to tag me again though if you still need help with this question :+1:

[2018-09-12 17:05] #145 closed

[2018-09-19 09:11] divinzer opened #157 "This is what I wanted!"
This is awesome!
It can more easily handle SVG !

May I use sprite SVG someday?

Thank U

[2018-09-19 18:20] tanem commented on #157
Good to hear @divinzer 😃

Haven't actually looked in great detail as SVG sprite usage, but it would be useful huh. I'll add it to my list of things to look at.

[2018-09-21 11:15] afshin-hoseini opened #158 "How to change color?"

[2018-09-21 19:35] tanem commented on #158
Hey @afshin-hoseini, are you talking about the SVG colour here? If so, there are three CodeSandbox examples that might help you out when it comes to controlling the SVG colour:

- [API Usage](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/api-usage) gives example usage of the `svgClassName`, `svgStyle` and `className` props.
- [External Stylesheet](https://codesandbox.io/s/gi

[2018-09-21 19:37] tanem commented on #157
Hey @divinzer, closing this issue down since your request is on my list of things `TODO` 😉 Feel free to tag me at a later date though here if you have any more q's.

[2018-09-21 19:37] #157 closed

[2018-09-28 16:18] tanem commented on #158
Closing due to inactivity 🙏

[2018-09-28 16:18] #158 closed

[2018-10-16 17:03] BrentGrammer opened #164 "Implementing a fallback with react-svg"
I am going to be using your package in an app I'm working on and need a way to implement a fallback to a .png image if there is an error or compatibility issue with the SVG file.  Can you recommend a way to do this using your package?  Is there an onError or fallback prop available?  Thanks for your work.

[2018-10-17 07:35] tanem commented on #164
Hey @BrentGrammer. This library utilises [`SVGInjector`](https://github.com/tanem/svg-injector) behind the scenes, and there _is_ actually a way of specifying a [`pngFallback`](https://github.com/tanem/svg-injector#api) which gets used if the browser doesn't support SVG. You can see examples of that [here](https://github.com/iconic/SVGInjector/blob/master/examples/fallbacks/index.html).

That feat

[2018-10-17 19:51] BrentGrammer commented on #164
@tanem Thanks for the response - yes, I was looking at the pngFallback from SVGInjector, but I couldn't work out how to use it with react-svg.  The package is great, but I really do need a fallback method and currently am using a pretty elaborate workaround using state and the svg value returned to detect if there was an error (it's pretty hacky).  That feature would definitely be useful and would

[2018-10-18 16:42] tanem commented on #164
@BrentGrammer added basic support for png fallback in #165, but I'm not sure if it's going to be much use to you, since essentially modern browsers all will return `true` for [`hasSvgSupport`](https://github.com/tanem/svg-injector/blob/master/src/inject-element.js#L19) meaning the `pngFallback` will never be used.

Don't suppose you can post a snippet of that hack you mentioned so I can see what s

[2018-10-26 05:39] BrentGrammer commented on #164
@tanem Thanks for making the modification.  Here is the very hacky fallback code I was implementing:

[code]
I basically wrapped your component in a class based component with error handling that sets state based on the value of svg in the onInjected handler to check if it's undefined.  Very cumbersome, but best I could come up with without digging much deeper into the SVGInjector source code.  I'

[2018-10-26 19:32] tanem commented on #164
@BrentGrammer no worries and thanks for posting that info, I'll take a closer look at it as soon as I can.

Also appreciate the mention of `react-inlinesvg`, it's always really interesting to see how other libraries are solving similar problems. In the end I think it makes things better for consumers of these libraries overall 😃

[2018-10-28 22:52] tanem commented on #164
@BrentGrammer oops forgot to double check earlier, since you're using `react-inlinesvg` I'm assuming you're not blocked by this issue in this package?

If so, I can drop everything and come back to this... just tied up on some other things at the moment that are taking longer than I thought 😅

[2018-10-29 00:35] BrentGrammer commented on #164
@tanem Yes, for now I'm using react-inlinesvg.  Do your thing and if you get a chance to get around to a fallback feature, great - I think your package with the SVGInjector features built in would be superior, but in otherwise, I have a working solution for the time being.  Thank you again for being responsive to this.

[2018-10-31 08:00] a2424812 opened #169 "component re-rendered"
Whenever my state is changed, my react-svg component will be re-rendered. Do you have this situation?

[2018-10-31 21:52] tanem commented on #164
Hey @BrentGrammer, have been giving this a bit more thought lately. Was wondering if you'd be able to post a snippet of how things look now you're using `react-inlinesvg`? (Similar to that earlier snippet you posted).

I'm thinking about this package's API in general, so I'm curious to see in code exactly which parts of the `react-inlinesvg` API made things easier for your use-case. I want to make

[2018-11-01 02:08] BrentGrammer commented on #164
Sure here is a snippet with the fallback in react-inlinesvg:

[code]

It's dead simple to use, but I don't think there are any of the nice features that SVGInjector brings to the table under the hood.

[2018-11-01 16:31] tanem commented on #164
Thanks again. Right, can see the fallback handling is pretty sweet. Will have a play around with this lib to see what I can come up with :+1:

[2018-11-05 18:04] tanem commented on #164
@BrentGrammer have just raised #171. The key changes here are `onInjected` is now an error-first callback, and [you can specify a fallback component](https://github.com/tanem/react-svg/pull/171/files#diff-eaaa4e9e33613b86ed176e654636a9c5) via the API. (PS I'll likely add a `loading` component option in a future patch).

If you have any thoughts feel free to post 'em here, otherwise I'm planning on

[2018-11-05 20:13] BrentGrammer commented on #164
@tanem Cool, thanks for working on this.  Looking forward to checking it out and using your package again.

[2018-11-06 09:55] rdegersigny opened #175 "Internet Explorer"
Is there anyway to make it work on Internet Explorer?

[2018-11-06 16:54] tanem commented on #175
Hi @rdegersigny, what version of IE are you using? Do you have some example code I can look at? Feel free to use/fork [the basic usage example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) if you like.

[2018-11-08 20:29] tanem commented on #169
Closing due to inactivity, feel free to ping me in a comment if you think there's still something to look at here 👌

[2018-11-08 20:29] #169 closed

[2018-11-08 20:30] tanem commented on #164
Update: There's a glitch in `svg-injector` I have to fix before releasing this PR, so it's a little way away from being released yet 💦

[2018-11-11 16:57] tanem commented on #164
@BrentGrammer just released #171 as version `7.0.0`. Let me know how you get on if you like 🙏I'll leave the issue open for a bit in case there are any issues I need to chase up.

[2018-11-11 17:20] BrentGrammer commented on #164
@tanem Cool - I'll check it out - it looks good and easy to use from the example.  I appreciate your work on this.

[2018-11-12 17:38] tanem commented on #164
Somewhat related, just opened #178 which adds the ability to specify a loading component. Planning to ship this week sometime as well.

[2018-11-12 17:40] BrentGrammer commented on #164
@tanem Sweet!  Thanks, sir.

[2018-11-13 16:10] tanem commented on #175
Closing due to inactivity.

[2018-11-13 16:10] #175 closed

[2018-11-13 16:37] tanem commented on #164
No prob. `loading` released in `7.1.0`.

[2018-11-14 03:37] mydearxym opened #181 "loading component jump up"
hi @tanem

i  make a simple demo with loading component by using the latest version(7.1.0).
the loading component(just div with simple css) is jump up before the real svg img arrives
 is there sth i can do to cancel this effect?

![jump-example](https://user-images.githubusercontent.com/6184465/48458292-ac1c9b00-e800-11e8-8bac-ae465c1adc8d.gif)

[2018-11-14 15:59] tanem commented on #181
Hi @mydearxym. Can you please post some code I can look at so I can more clearly see what's going on? If you like, you can fork [the basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) on CodeSandbox to do this.

[2018-11-15 01:43] mydearxym commented on #181
@tanem thanks~
i am not sure is this "jump up" only occur in dev(HMR) mode,  i will build production mode to try it again later this day

[2018-11-18 20:19] tanem commented on #164
Hey @BrentGrammer, closing this issue down now since the original enhancement request has been implemented. Figure we can track any bugs in new issues. Thanks for raising the original question and providing all the feedback above! 🙏

[2018-11-18 20:19] #164 closed

[2018-11-20 10:10] hlarcher opened #182 "replace div with span"
`Warning: validateDOMNesting(...): <div> cannot appear as a descendant of <p>.`

[2018-11-21 02:35] mydearxym opened #183 "support SSR or prefetch ?"
hi @tanem, when i use react-svg in react site, the normal PNG image is loaded much faster than the SVG images, the SVG component seems only executed on client side?

[demo site](https://www.coderplanets.com/communities/pl)

![demo](https://user-images.githubusercontent.com/6184465/48815325-1d1bff80-ed79-11e8-84dc-2a66348ca6ea.gif)

[2018-11-21 07:33] tanem commented on #182
Hi @hlarcher. Can you please post a repro I can look at so I can more clearly see what's going on? If you like, you can fork [the basic example on CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) to do this.

[2018-11-21 07:40] tanem commented on #183
Hey @mydearxym, re this part:

Yep you're right, this lib makes an AJAX request for the SVG and then swaps in the SVG markup inline. That certainly has it's pros and cons, so it's nice that there are a few open source libs that deal with SVGs + React in different ways, since we can choose the one most appropriate for our use-case.

In saying that, I'd still be keen to see precisely what's going on

[2018-11-21 17:30] tanem commented on #183
No problem @mydearxym, I just tried again now and it's working fine, thanks! I'll post an update once I've had the chance to investigate further 💭

[2018-11-21 21:34] tanem commented on #183
@mydearxym had a quick look around that demo site using some perf tools and a couple of things caught my eye:

- There are quite a few SVGs on the page, and as a result, quite a few XHRs being made for those SVGs via this module. That doesn't seem to be a big deal though, especially once the SVGs are cached.
- The actual swapping in of the SVGs inline happens quite quickly, but one thing to note i

[2018-11-22 03:13] mydearxym commented on #183
@tanem  big thx for your detailed explanation!

for me, the reason i use SVGs is:
1.  SVG icon usually much smaller the the normal png/jpg ones
2. i can style SVG icon to match different themes by using `css-in-js` lib like styled-component

[code]
![image](https://user-images.githubusercontent.com/6184465/48877355-d6440d80-ee3d-11e8-8fa8-0b11fdf3e71c.png)

![image](https://user-images.githubuserc

[2018-11-25 00:43] tanem commented on #182
Had some time to play around with this, can see how not being able to specify the container type can cause issues. Hoping to come up with a PR soon ⏳

[2018-11-26 16:45] tanem commented on #182
Just released the ability to specify `span` wrappers via the `wrapper` prop, so will close this issue down now. Thanks for the feature suggestion! 🙏

[2018-11-26 16:45] #182 closed

[2018-12-03 17:36] kerosan opened #187 "Can't perform a React state update on an unmounted component."
react-dom.development.js:506 Warning: Can't perform a React state update on an unmounted component. This is a no-op, but it indicates a memory leak in your application. To fix, cancel all subscriptions and asynchronous tasks in the componentWillUnmount method.
    in ReactSVG (created by Context.Consumer)
    in StyledComponent (created by Styled(ReactSVG))
    in Asset (created by SimpleItem)

[2018-12-05 01:05] tanem commented on #187
Hey @kerosan, can you please provide some more context around this issue?

If you like, you can fork [the basic example on CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) to get a repro going.

[2018-12-05 03:59] tanem commented on #187
Forgot to add: Pretty sure where the issue will be, but while you wait for a patch and if you're not using any of the v7 features, you can use `6.x` and that should get you around the issue in the meantime ⏳

[2018-12-11 22:18] tanem commented on #187
Closing this one down now that the dust has settled.

[2018-12-11 22:18] #187 closed

[2018-12-13 14:04] mantegnous opened #191 "Question : why react-svg replicate the same svg?"
i'm using react-svg in my react sidebar component

`<NavItem>
          <NavLink href="/position">
              <ReactSVG src="svg/circle-graph.svg" svgClassName="svg-class-name1" className="wrapper-class-name"/>
          <span className="sidebarlink" >{process.env.REACT_APP_POSITION}</span>
           </NavLink>
        </NavItem>
        <NavItem>
          <NavLink href="/operation">

[2018-12-13 16:33] mantegnous commented on #191
it seems like this component only considers the first element, and using it several times it goes to put the same svg into follow components

[2018-12-13 20:06] tanem commented on #191
Hey @mantegnous, any chance you can create a working reproduction of this issue so I can investigate it properly? If you like, you can fork [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage).

[2018-12-13 21:36] mantegnous commented on #191
The problem is: i can't repeat <ReactSVG> with a different src for svg, because i see the same svg for each <ReactSVG> used.

How can add more svg in page?

[2018-12-13 22:05] tanem commented on #191
Here's a simple working example of two different SVGs on the same page: https://codesandbox.io/s/zp7vkrojl. So at first glance this doesn't appear to be an issue with this library, guessing it's something to do with how you've set things up at your end.

I'm happy to help you with either scenario, but the best way to get to the bottom of this is to have a working reproduction of the bug, or at lea

[2018-12-13 22:11] mantegnous commented on #191
I use the same method in my react page, but i see always the first svg for each svg

[2018-12-14 08:17] mantegnous commented on #191
Yes, i get the correct svg
I tried to apply css (svgclassname)class but without success

check it: https://codesandbox.io/s/2p1v2k28xn

[2018-12-27 08:26] adrienharnay opened #192 "null is not an object (evaluating 'e.getAttribute')"
Hey,

I have lots of reports for this error on Sentry:

`null is not an object (evaluating 'e.getAttribute')`

Would you have an idea on why that would happen? I would gladly submit a PR but have no idea where to start.

Thanks in advance!

[2018-12-28 11:35] kerosan commented on #187
thank you very  much 🎉

[2018-12-28 18:47] tanem commented on #192
Thanks for the report @adrienharnay.

Do you have any more information surrounding that error? (e.g. a stack trace from Sentry, or an isolated repro of the error based on [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage)).

Have an idea where it might be occurring but that extra info will make it easier to sort out.

[2018-12-28 18:54] adrienharnay commented on #192
Hey,

All I have is a snippet:

[code]

And also the last XHR call before the error occured:

[code]

Hope this helps!

[2018-12-28 23:30] tanem commented on #192
Thanks for that, confirms my hunch about [where the error might have been occurring](https://github.com/tanem/svg-injector/blob/v2.1.1/src/inject-element.js#L92).

Do you have any code you can post? Would be interested in a closer look at what might have caused this...

[2018-12-29 00:06] adrienharnay commented on #192
Here is my Svg component, nothing fancy I think:

[code]

[2018-12-29 22:13] tanem commented on #192
Thanks for that. Yea the component looks nice and simple, but I'd be interested in seeing how it's being called from the surrounding code 🤔

`ReactSVG` does meddle with the DOM outside of React (via `SVGInjector`), but we should have squashed any significant bugs due to race conditions by now.

Any chance you can fork [this basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master

[2018-12-31 10:15] adrienharnay commented on #192
Ah... The thing is I use it in the most simple way possible:

[code]

I suspect it as more to do with a particular browser environment than with the way it is used 🤔

[2019-01-06 01:15] tanem commented on #192
Sorry for the delay getting back, am on holiday at the moment so not online much 😅

Re:

Would Sentry be able to tell you some specifics here?

[2019-01-09 19:35] adrienharnay commented on #192
Hey, sorry for the delay I was a bit busy the past few days.

The bug seems to appear mainly on iOS 12.1.2, but also occurs on other browsers such as Chrome.

I'm glad you have found the root cause, please tell me if I can help in any way! Cheers

[2019-01-13 02:37] tanem commented on #192
Not a problem 👌

Hey @adrienharnay.

So it turns out my original hunch about the error wasn't actually a thing. The issue I was seeing in the new test suite was due to `SVGInjector`'s request queue not being cleared after being processed.

Sadly I'm still not sure how to reproduce the error you're seeing, but I've fixed the request queue issue which I'm hoping will solve the resulting bug.

Have j

[2019-01-13 15:44] adrienharnay commented on #192
Thanks, will upgrade and tell you if the error shows up again!

[2019-01-16 17:02] tanem commented on #192
Any luck @adrienharnay? 🙏

[2019-01-17 07:53] Dlpan commented on #14
hello tanem, i have seen the discussion above, butI'm still getting this error in 7.0.1 "Cannot read property 'replaceChild' of null"

[2019-01-17 07:55] Dlpan commented on #14
@tanem Hello tanem, i have seen the discussion above, butI'm still getting this error in 7.0.1 "Cannot read property 'replaceChild' of null"

[2019-01-17 09:46] adrienharnay commented on #192
No errors since the update! I will close the issue and re-open it if the error comes up again, but considering the frequency of the error before the update, we should be good 🙂

Thanks a lot!

[2019-01-17 09:46] #192 closed

[2019-01-17 16:06] tanem commented on #192
No prob. Great to hear, thanks @adrienharnay :tada:

[2019-01-17 16:08] tanem commented on #14
Hey @Dlpan, thanks for the report. Since this issue you're commenting on is quite old now, I think it's worth creating a new issue? Any further information you can provide, such as code snippets, would be helpful too

[2019-01-18 02:45] Dlpan opened #196 "TypeError: Cannot read property 'replaceChild' of null"
Hey tanem,thank for your reply and sorry about that i create the issue so late.
Actually, i got this error in the production environment when it never happen in the dev env. Then I trace  the problem and found i occurs in the react-svgumd/react-svg.development.js
![image](https://user-images.githubusercontent.com/22198359/51361583-61bedf80-1b0b-11e9-8e25-f03309a13e5b.png)
Corresponding to the file

[2019-01-18 14:50] adrienharnay opened #197 "CORS error when inlining SVG after it has been loaded in img tag"
Hey again,

I have a recurring bug where images don't load using react-svg, and I have finally managed to reproduce it.

https://codesandbox.io/s/ovk5rwm056

Bug case:
1. Open https://ovk5rwm056.codesandbox.io/ using Chrome (in private mode to avoid cache)
2. Page 1 loads, `img` tag displays the image
3. Click on "Page 2" link
4. Page 2 loads, `Svg` fails and prints an error in the console

[code]

[2019-01-20 01:36] tanem commented on #197
Hey @adrienharnay, thanks for taking the time to create those repros.

Your working case failed for me every time in the same fashion as the first case. This is what I expected though given my hunch explained below. I did have to specifically disable the cache in incog. mode via dev tools though, so that the incog. cache within that incog. session was clear every time I checked those repros.

At f

[2019-01-20 01:47] tanem commented on #196
No problem @Dlpan.

As you might have seen on that old issue, the original cause of this error was due to a race condition between `React` and `SVGInjector`. The fix was to ensure that `SVGInjector` could always find that `parentNode` by keeping it away from the React lifecycle in `ReactSVG`.

Anyways, this should certainly not be an issue any more. In order to help debug things, is there any chan

[2019-01-21 09:48] adrienharnay commented on #197
Hey,

Thanks a lot for the insight, I didn't know about this!

Actually, I think for the working case to "work", you need to close all incognito tabs since they all share the same cache... At least that did the trick for me.

I'm thinking of a solution to avoid this pitfall: I have a component around `react-svg`, so maybe I could add `?type=svg` at the end of every `src` passed to it so that it wo

[2019-01-21 16:39] tanem commented on #197
Cool, oh right I see that's workaround #2 from [that link](https://serverfault.com/questions/856904/chrome-s3-cloudfront-no-access-control-allow-origin-header-on-initial-xhr-req/856948#856948) I posted earlier, that makes sense. Interested to hear if that solution works for you.

Thanks, docs would be great! Just add a new section somewhere in the README if you like. I have some reorganisation of

[2019-01-23 09:32] Dlpan commented on #196
Thank you tanem. I was so busy for my job these days and forgot to reply. the error has been decreased obviously after I add the className for the parentNode like `div` and ensure every `ReactSVG` will be wrapped by `div`.
The interesting thing is the problem only found in the android version 6.0.
I will keep focusing on it and thank you for your time!

[2019-01-23 20:35] adrienharnay commented on #197
Hey,

It seemed to cause bugs on images that didn't have it before, so... I'll try workaround 1 and let you know before documenting something I've not tested enough!

[2019-01-24 15:31] tanem commented on #197
Ah, ok cool. Thanks for the update :+1:

[2019-01-24 15:37] tanem commented on #196
Ok, thanks for the update :+1:

It's probably worth noting that `ReactSVG` automatically wraps the element being replaced in a parent node, so you don't have to do that on your side unless you need the wrapper for some other reason.

Hmm. Would be keen to know exactly what browser/version is running here?

[2019-01-25 15:09] austincondiff commented on #24
Can we wrap the svg in `<></>` instead? I really don't want every single icon I user wrapped in two div's. Seems needless and clutters the DOM.

[2019-01-25 20:39] tanem commented on #24
Hey @austincondiff the reasons for the wrapping [were posted earlier in this thread](https://github.com/tanem/react-svg/issues/24#issuecomment-327964525).

Long story short:

- The underlying module this lib is based on needs a parent element wrapping the one it's replacing. This means these two elements are not managed by this lib/React.
- This library itself then needs a wrapper element in React

[2019-01-28 19:02] derrickpelletier opened #200 "svg-injector version update?"
So, i submitted this PR the other day https://github.com/tanem/svg-injector/pull/35 without realizing that `react-svg` is still very behind (~2.1.3) on `svg-injector`.
Should I recreate my fix for `svg-injector@2.1.x` as well?

Whats the reason for the version support lagging behind?

[2019-01-28 22:34] tanem commented on #200
@derrickpelletier

That would be great, thanks. There's a 2.x branch in that repo you can use.

The later versions of SVGInjector are the result of quite a significant and ongoing refactoring, things like adding automated tests, fine-tuning the TS conversion etc. For those reasons I'm uneasy bumping the version in this module just yet.

TBH I should have published those newer SVGInjector versions

[2019-01-28 22:54] derrickpelletier commented on #200
All good 👌
Looks like the good is nearly identical aside from the iterator vars

Made a PR here: https://github.com/tanem/svg-injector/pull/39

[2019-01-28 22:54] #200 closed

[2019-01-29 17:14] tanem commented on #200
@derrickpelletier released your fix in `v7.0.6`, thanks!

[2019-02-06 00:03] tanem commented on #197
Hey @adrienharnay, any progress on this?

[2019-02-06 00:04] tanem commented on #196
Hey @Dlpan, is this still an issue for you that's worth investigating further? Haven't had the chance to dig into it yet, so thought I'd check first.

[2019-02-06 20:20] adrienharnay commented on #197
Hey, still facing lots and lots of errors, I will investigate pretty soon and keep you posted.

[2019-02-06 20:30] tanem commented on #197
Ah, sounds gnarly. No worries at all, good luck hunting the 🐛

[2019-02-12 16:43] tanem commented on #196
Closing due to inactivity.

[2019-02-12 16:43] #196 closed

[2019-03-01 05:04] geeky-biz opened #203 "ReactDOMServer required even when not doing Server Side Rendering"
The fact that ReactDOMServer is required for react-svg (even if one is not using server side rendering) causes the bundle to be larger by 5.77 KB (gzipped).

Is there a way to use react-svg without requiring react-dom/server ?

[2019-03-01 18:52] tanem commented on #203
Not at the moment, it's used so we can [conveniently generate some static HTML](https://github.com/tanem/react-svg/blob/master/src/index.tsx#L98). I'm guessing there's a way it can be done without using that module, and it'd be nice to do so, but it just hasn't been looked at seriously yet 🙂

BTW, how did you arrive at that number? The entire gzipped [production UMD build](https://unpkg.com/react-

[2019-03-04 05:03] geeky-biz commented on #203
Ok. Would ReactDOMServer.renderToStaticMarkup get called even if I'm using react-svg to show SVGs on the client side? (no server side rendering)

The 5.77 KB gzipped is the size of 'react-dom/server' that gets added to my JS bundle because of the import within react-svg. No other code in my app uses 'react-dom/server' (like I said, my web app doesn't have server side rendering).

[2019-03-04 16:09] tanem commented on #203
Yes it does.

Ok. At this point it's sounding like there are some app-specific build optimisations that can be made to bring that size down.

I'll add an enhancement label to this issue as it'd be nice to not have the dependency there one day. In the meantime I'll look to close this issue down soon if your main questions have been answered?

[2019-03-05 04:08] geeky-biz commented on #203
Yes, main question answered. Would be great to not have the dependency there. Can close this issue. Thanks for this wonderful library and your helpful responses.

[2019-03-05 04:08] #203 closed

[2019-03-05 16:02] tanem commented on #203
No problem, thanks @geeky-biz 🙏

[2019-04-01 12:15] adrienharnay commented on #197
Hey, just passing by to say I'm still alive and will be able to investigate soon 🙂

[2019-04-02 05:15] GFwer opened #268 "Can I use with webpack alias?"
I try to use like this but not work:
[code]

and I found only work with the relative path,and src will like this:`../../../../../static/img/svg.svg`, the path is complicated.

Can any way I can use with webpack alias?

[2019-04-03 10:58] RyRy79261 opened #271 "React SVG not rendering"
Using react-svg works only in some instances.

as example:
[code]

This code works in one container, but when copied exactly to any other container it no longer fetches the svg and instead just produces a div with no contents.

No errors, no pending requests, just an empty div.

[2019-04-03 16:16] tanem commented on #268
Hi @GFwer. What does your webpack configuration look like? (i.e. how is the alias defined).

It's been a while since I've dealt with webpack, so I'll probably need to try and reproduce this, unless you've got a working example I can look at?

[2019-04-03 16:23] tanem commented on #271
Hey @RyRy79261. Is "container" in this context just another React component?

I'll try to reproduce this issue, unless you beat me to it by forking [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) :wink:

[2019-04-03 22:39] kerosan commented on #187
something went wrong in Firefox...
Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.

[2019-04-04 04:31] GFwer commented on #268
@tanem I found the problem, I use url-loader and set `option.limit` , when using alias, it will convert these svg images into base64 format, so that reactSVG can't be loaded, I deleted this configuration and it works.

[2019-04-04 07:04] RyRy79261 commented on #271
Hi there @tanem it's just a standard react component.

What I've discovered is that there isn't any 404 when the component cant find the file, oddly enough by puttin any configuration of `../`, `../../`, `../../../` renders the svg

I think what would be the best in this scenario is to log a 404 error with the full request url in the event that the file isn't found

[2019-04-04 20:03] tanem commented on #187
Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.

Hey @kerosan, can you please raise a new issue for this problem?

A working repro using a fork of [the basic example on CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tr

[2019-04-04 20:05] tanem commented on #268
@GFwer oh right, that makes sense :+1: Glad you solved the issue, and thanks for posting back!

[2019-04-04 20:05] #268 closed

[2019-04-04 20:14] tanem commented on #271
Hmm, would have to see more context to be able to comment further on what that issue might be within your app.

Re the `404`, in this case the [`onInjected`](https://github.com/tanem/react-svg/blob/master/README.md#api) callback should receive an `Error` with its `message` prop set to something like `Unable to load SVG file: ${url}`. That should give you the information you're after?

[2019-04-05 08:10] RyRy79261 commented on #271
I inspected the onInjected callback, nothing happens, my app takes the static images and just makes them available at `/sdfsd.svg`

The component is basically just a div with the class names added correctly but there's nothing actually injected since nothing is actually fetched.

[2019-04-05 22:56] tanem commented on #271
This area sounds like something we'd want to examine further, however at the moment there's too much guesswork involved for me to be able to help you effectively.

If it's not possible to see a repro using that CodeSandbox link I provided, do you have any example code beyond what you shared originally, or an example app you can share?

[2019-04-11 04:25] AusQB opened #293 "Can the component output be rendered as a string?"
I'm trying to create a custom icon for React-Leaflet using the following function:

[code]

The html property resolves to an empty string. I'm not sure if I'm simply misusing ReactDOMServer here, I have tried ReactDOM.render and ReactDOMServer.renderToString as well.

Any idea what I'm doing wrong?

[2019-04-11 17:53] tanem commented on #293
Hey @AusQB. I'm not familiar with leaflet, but I'm guessing you're trying to do something similar to [react-leaflet-div-icon](https://github.com/jgimbel/react-leaflet-div-icon)? Do you have a more complete example of the code snippet you posted, so I can look at how everything is being rendered?

Under the hood, `ReactSVG` makes ajax requests for the `src` file, which is asynchronous, so that prob

[2019-04-12 00:53] AusQB commented on #293
@tanem Here's the "complete" component. I've had to omit a fair bit, but that should all be irrelevant to the issue,

[code]

[2019-04-12 20:04] tanem commented on #293
@AusQB thanks for the info :pray: Planning on taking a closer look this weekend.

[2019-04-14 18:05] tanem commented on #293
Didn't get the chance to play around with this in anger this weekend unfortunately 😒

At this stage I'm thinking there are a couple options. First and what looks to be the simplest, is to use `react-leaflet-div-icon` and do something like this (note that I haven't tried this myself yet):

[code]

I notice however that `react-leaflet-div-icon` is not compatible with `react-leaflet` v2, not sure if

[2019-04-15 05:20] AusQB commented on #293
Yeah, the only reason I didn't use that was the v2 incompatibility. I got my code from the first solution in this issue: https://github.com/jgimbel/react-leaflet-div-icon/issues/20, which is obviously where we're at now. I did try to make use of the other solution in there, but either I didn't implement it properly or it wouldn't serve my purposes anyway.

[2019-04-15 18:36] tanem commented on #293
Ok, thanks for the update :+1: I'll have a closer look at that repo and will get back to you.

[2019-04-17 17:53] tanem commented on #293
@AusQB: After checking things out a bit more here are some options, they may or may not suit your use case however:

1. Add the SVG markup inline, using the code you already have.
2. Use `react-leaflet-div-icon` alongside `React-Leaflet` v1.
3. Modify `react-leaflet-div-icon` to work with `React-Leaflet` v2. I had a quick look at this, and it looks like we'd need to [make use of `withLeaflet()`](h

[2019-04-18 03:30] AusQB commented on #293
@tanem Thanks heaps for that. I'll see what I can come up with.

[2019-04-18 08:20] AusQB commented on #293
@tanem Unfortunately I couldn't figure out a solution so for the time being I'm putting this on the shelf and just resorting to static <img> tags.

[2019-04-18 17:51] tanem commented on #293
@AusQB alrighty, I'll park this issue for now then :+1:

[2019-04-18 17:51] #293 closed

[2019-04-18 18:17] tanem commented on #271
@RyRy79261 is this still an issue for you?

Have given this some more thought: Another thing to consider is that SVGs are cached internally by `SVGInjector` after they are first requested. So in your case since the first request was successful, any subsequent usages via the exact same `src` should have the same response returned via the cache, which is why you don't see a `404`.

My hunch is that

[2019-04-18 20:45] RyRy79261 commented on #271
Hi there @tanem I did test on other browsers but oddly even when I typed in nonexistant svg's it didnt throw errors, I think it of been the pathing but odd that there wasn't a 404 for it, any way I haven't experience the issue in a while so closing

[2019-04-18 20:45] #271 closed

[2019-04-19 04:51] tanem commented on #271
Okee doke, thanks for the update 👌

[2019-04-19 15:48] Arkh1 opened #313 "All props requireable?"
Why are all of the props marked as requireable?  It is a bit annoying having my IDE tell me that I have to be including all of these props that should just be optional.  Shouldn't src be the only required prop?

[2019-04-19 18:01] tanem commented on #313
@Arkh1 both [the TypeScript interface](https://github.com/tanem/react-svg/blob/master/src/index.tsx#L9) and [the runtime PropTypes definitions](https://github.com/tanem/react-svg/blob/master/src/index.tsx#L42) only specify `src` as required, all the other props are optional. You should be able to see this working as expected by playing with [the TypeScript Latest example on CodeSandbox](https://co

[2019-04-19 18:16] Arkh1 commented on #313
Version: 8.0.6
IDE: IntelliJ
Context: React application, not create-react-app, no typescript

This is where the IDE is pointing me to on why the props are being flagged as required.   Lines 31-40 of your `index.d.ts` file.

[code]

Those flagged as requireable IntelliJ is interpreting as required.

Thanks a bunch for the prompt response!

[2019-04-19 18:41] tanem commented on #313
Thanks for the info. I'm not sure why IntelliJ is looking in the TypeScript definitions file like that 🤔Will do some digging and get back to you.

No worries. Heads up that I might get pulled away from keyboard shortly, so might take a while to respond once that happens :wink:

[2019-04-19 19:48] tanem commented on #313
Forgot to add: Any further info you can provide re your IntelliJ setup would be useful (plugins etc) :pray:

[2019-04-24 21:35] michaelmika commented on #106
I think it does not work, because the fill attribute is set on the child g-element and not on the svg-element. Still any easy way to edit the style of the g-element in React?

[2019-04-25 17:19] tanem commented on #313
Hey @Arkh1. I've had no luck attempting to recreate this. I'm using IntelliJ community edition though, not a paid version, so not sure if that's going to be impacting my repro attempts.

As I mentioned earlier, my guess at the moment is that [IntelliJ is trying to be smart](https://www.jetbrains.com/help/idea/react.html#react_code_completion_component_properties) but for some reason is looking at

[2019-04-25 17:31] tanem commented on #106
@michaelmika classes and inline styles are applied to the wrapper element, and from there you can walk the tree to target the internal structure of the SVG you're loading. The most recent examples of this are linked via the `README.md`:

[CSS-in-JS](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/css-in-js)
[External Stylesheet](https://codesandbox.io/s/github/tanem/react-svg/

[2019-04-25 20:45] michaelmika commented on #106
@tanem Thanks for your reply. Yes, I did it via css like you suggest it. However, it would be still nice to have a prop for styling the g-element in JSX, so you can apply different fill colors (e.g. as a prop of a parent component).

[2019-04-26 04:43] tanem commented on #106
@michaelmika no problem. Do you have an example of the sort of API you're talking about?

There are some limitations with this library, one being that the SVG that is injected is not part of the React lifecycle. At present I'm more likely to recommend other libraries rather than expand this libraries API to try and accomodate lots of different use-cases, however I'm still interested in seeing what

[2019-04-26 13:03] michaelmika commented on #106
I mean, if I want to write a Wrapper, e.g. for SVG-Icons like this:
`export default props => {
    const { iconName, color, ...p } = props;

    return (
        <ReactSVG
            src={"./icons/" + iconName + ".svg"}
            gStyle={{fill: color}}
            {...p}
        />
    )
};`

Would be nice if there was a way to simply change the fill color inside JSX (without additional library

[2019-04-26 21:56] tanem commented on #106
@michaelmika thanks for the example, I see what you're getting at there. The reasons for doing it seem solid :+1:

I'll have a think about this. In terms of how the API looks, I'd probably be looking at other ways to provide that functionality rather than expanding the API with more options. For example [the overrides pattern from Base Web](https://eng.uber.com/introducing-base-web/) looks like an

[2019-05-05 17:51] tanem commented on #313
Closing due to inactivity.

[2019-05-05 17:51] #313 closed

[2019-05-07 06:49] zztrk opened #339 "[QUESTION] How can i use with js or jsx files?"
i can't compile when import js or jsx files. Could you show me how can be?

tsconfig.base
  "declaration": false,
    "declarationDir": null,
    "allowJs": true,

[2019-05-08 17:26] tanem commented on #339
Hi @zztrk, there are two live TypeScript examples linked in the docs. I'm guessing you'll be more interested in the latest version of TS:

[Example](https://github.com/tanem/react-svg/tree/master/examples/typescript-latest)
[CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/typescript-latest)

If that doesn't help, can you please provide more info about the issue yo

[2019-05-08 18:24] tanem commented on #106
@michaelmika if you're interested, I've raised a PR that addresses your feedback but with a different API: #338.

[2019-05-14 17:15] tanem commented on #339
Closing due to inactivity.

[2019-05-14 17:15] #339 closed

[2019-05-14 17:18] tanem commented on #197
Hey @adrienharnay, closing this down since it's been open for quite some time. If this problem pops up again for others I'm hoping that we can use this issue as a reference, and if we need more documentation at that point we can look at adding it then.

Feel free to ping me in a comment though if you do get the chance to do anything else here. Thanks again for your help in resolving this :+1:

[2019-05-14 17:18] #197 closed

[2019-05-16 07:34] adrienharnay commented on #197
Yes, thank you for this and sorry I didn't take the time to follow-up... I'm extensively using react-svg and things seem to be OK now (a few reports now and then but mostly due to network conditions). If I ever come across a problem, be sure I will come back to open a PR 🙂

[2019-05-16 17:10] tanem commented on #197
Thanks, appreciate it!

[2019-05-25 14:25] msudgh opened #355 "pass svg attributes as props"
I see there's one way to set an attribute in JavaScript way. it'd be great to let developers set their attributes as props.

Before:
[code]

After:
[code]

[2019-05-25 22:13] tanem commented on #355
Hi @msudgh, this is a deliberate tradeoff that was discussed in detail [in this PR](https://github.com/tanem/react-svg/pull/338). The last few paragraphs are particularly relevant to your question.

[2019-05-26 17:18] msudgh commented on #355
Hmm, You're right. it makes sense to keep API of the component simple and prevent complicated code base.

[2019-05-26 17:18] #355 closed

[2019-05-26 20:26] reetou opened #356 "svgStyle prop removed?"
I just noticed that my svg's `svgStyle` styles not applied after updating to 10.0.4.
Example with `9.0.4` (svg not visible but it's width is `10px`):
https://codesandbox.io/embed/wuh4m?fontsize=14
`10.0.4`
https://codesandbox.io/s/xoct5?fontsize=14

[2019-05-27 17:09] tanem commented on #356
Hi @reetou, yes that it is correct, breaking API changes were made in v10:

- The migration notes are [here](https://github.com/tanem/react-svg/blob/master/MIGRATION.md#v1000).
- The PR where the changes were made is [here](https://github.com/tanem/react-svg/pull/338).
- A `beforeInjection` example that shows how to add inline style is [here](https://codesandbox.io/s/github/tanem/react-svg/tree/ma

[2019-05-28 00:49] reetou commented on #356
Thanks, indeed, it's easier now to use `beforeInfection` attributes. Thanks for your work on this library.

[2019-05-28 00:49] #356 closed

[2019-05-28 17:13] tanem commented on #356
Cool, no problem @reetou 😎

[2019-06-05 11:05] syxanash opened #370 "CDN resource always leads to fallback"
Hi, I'm trying to use your component passing a url to the `src` prop. The url is from a CDN online and I noticed that 60% of the times the `fallback` function is triggered (maybe because the resource is not downloaded in time?).
So I'm wondering, is there a way to rerender the `ReactSVG` component everytime the fallback is triggered?

[Here](https://github.com/syxanash/logosweeper/blob/c30648840bf

[2019-06-05 17:20] tanem commented on #370
Hey @syxanash. Hmm, there's no specific timeout on the side of this library, but it'd be interesting to find out a bit more information about why the failures are occurring 🤔

`afterInjection` is an error-first callback, so if you add something like the following, can you please let me know what you see in the console?

[code]

[2019-06-06 08:32] syxanash commented on #370
Sure, I will post here the result as soon as I catch the error again 😉
Btw, this is the CDN which I'm currently using:

https://cdn.svgporn.com/logos/aerospike.svg

It's used to downlaod some svg files.

[2019-06-06 08:57] syxanash commented on #370
Alright so apparently is a CORS issue, which is weird because at times it seems to be working fine, only randomly it appears...

<img width="820" alt="Screenshot 2019-06-06 at 09 53 47" src="https://user-images.githubusercontent.com/1325491/59020142-4e55ac00-8841-11e9-8254-3289f9bb3559.png">

Maybe I have to re design my app to download the svg image again when this error appears.

[2019-06-07 19:39] tanem commented on #370
Ah right, thanks for the info... I wonder if this is related to #197?

Just about to be away from the keyboard for a while, so I'll have a closer look at things tonight all things going to plan 🍀

[2019-06-08 08:36] syxanash commented on #370
No worries, I’ll take a look at that issue, thanks for helping!

[2019-06-09 13:11] #370 closed

[2019-06-09 17:27] tanem commented on #370
How'd you get on? I see the issue is closed... I hope that's good news? 🙏

[2019-06-10 07:00] syxanash commented on #370
Unfortunately I still have that error, I closed the issue because I thought it might not be related to your library. But if I have a chance to fix or to understand what's wrong I'll definitely follow up on this thread 👍

[2019-06-10 09:44] tanem commented on #370
Oh ok, yep that's a fair call, thanks for that 😃

[2019-06-13 15:19] anekpattanakij opened #393 "Is there anyway to define svg image size?"
Is it a possible way to define SVG image size by using style code?

Base on code below :
[https://td3ko.codesandbox.io/](https://td3ko.codesandbox.io/)

I have added style in beforeInjection props, but it seems it will pass this props to parent node instead of SVG element itself.

So I just curious how I should define the size of SVG image?

[2019-06-13 17:48] tanem commented on #393
Hey @anekpattanakij, I can't seem to see the source code for that example, I can only see the rendered page. Any chance you can give me access or attach the snippet here? 🙏

[2019-06-14 01:55] anekpattanakij commented on #393
Sorry, I revise my url as below

[https://codesandbox.io/embed/loading-q0oe3](https://codesandbox.io/embed/loading-q0oe3)

On the page, it has display two svg images, but I tried to find the way to let the first image to be resized to height as a set attribute.

[2019-06-15 20:45] tanem commented on #393
Sorry for the delay @anekpattanakij, have a had a few things going on in RL, hoping to get to this sometime today :pray:

[2019-06-16 03:53] anekpattanakij commented on #393
That's works, thank so much

[2019-06-16 03:53] #393 closed

[2019-08-09 08:45] ihatem commented on #68
Maybe a bit late but i found a solution to force `react-svg`to require files from the server

[code]

[2019-08-15 14:01] alexbrazier commented on #370
I managed to fix this issue by following this guide to configure cloudfront https://aws.amazon.com/premiumsupport/knowledge-center/no-access-control-allow-origin-error/

Basically you have to tell it to forward on the access control headers to the origin.

[2019-08-15 17:30] tanem commented on #370
Nice one, thanks for updating this thread!

[2019-08-19 10:51] harishmoghe opened #451 "How to pass title attribute / prop : images showing file name on mouseover."
I need to pass the custom prop title to component that should be displayed when mouseover image.
Currently raw image file name is getting displayed.

[2019-08-22 08:01] tanem commented on #451
Sorry for the delay on this 💦Planning on taking a look tomorrow morning, will get back to you ASAP

[2019-08-22 17:34] tanem commented on #451
@harishmoghe: Since non-documented properties are applied to the outermost wrapper element, you can pass a `title` prop which will be added to the rendered wrapper element, something like `<ReactSVG title="Some title" src="svg.svg" />`.

If that's not what you were after, can you please provide a code sample or repro using the [CodeSandbox basic example](https://codesandbox.io/s/github/tanem/react

[2019-08-27 09:55] alexeychikk opened #462 "React does not recognize the `lineSpacing` prop on a DOM element"
I'm not sure whether this is an issue with react-svg or with react itself. But:
I have an svg, which has the following element:
[code]
And this gives me the following warning:
[code]
In the DOM all of the props **except for `lineSpacing`** were converted to dash case, e.g.
`stroke-width="1"`, BUT `lineSpacing="18.2552832"`

[2019-08-27 17:47] tanem commented on #462
Hey @alexeychikk, that looks like a legit warning from React. When I check [this SVG attribute reference](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute), I can't see `line-spacing` anywhere. Guessing the attribute will need to be renamed or removed?

[2019-08-28 14:27] alexeychikk commented on #462
@tanem Well, looks like you are right. Icon was exported from Sketch by our designer. Seems like the problem is in the export process.

[2019-08-28 14:28] #462 closed

[2019-09-02 16:51] tanem commented on #451
Closing due to inactivity.

[2019-09-02 16:51] #451 closed

[2019-10-11 23:14] hypertrends opened #475 "Refresh the SVG to reload updated data?"
Hello,
Is there a way to refresh the SVG based on a specific trigger? I have a scenario where if a user clicks a radio button, I need to update the SVG by injecting a different color.

[2019-10-11 23:21] hypertrends commented on #475
Actually, never mind. My apologies. This isn't an issue.

[2019-10-11 23:21] #475 closed

[2019-11-06 01:31] yinqigithub opened #483 "hello！<ReactSVG src={Logo} /> it can`t work"
if i want use react-svg like this:

`import Logo from '../../assets/logo.svg';`

`<ReactSVG src={Logo} />`  this can`t work

but if i use     img src={Logo}      ,i can see the svg

please tell me how to use, thank you!

by the way, i looked  example, the svg flie is in public flie floder, because react-svg use ajax, but my leader don`t want me put svg in public,  thank you

[2019-11-07 16:31] tanem commented on #483
Hey @yinqigithub.

Yep you are correct, this library ends up using ajax to request an SVG the first time it's used. The SVG has to be available somewhere so the request can be satisfied.

If you're not able to make this happen, then this library might not be the best choice, and perhaps something like [`svgr`](https://github.com/smooth-code/svgr) is better.

I'm interested in digging into this tho

[2019-11-13 06:52] i-fuyun opened #484 "Why the react-svg's parent div change display, the react-svg component can refresh and refresh"
Why the react-svg's parent div change display, the react-svg component can refresh and refresh.
![image](https://user-images.githubusercontent.com/5111701/68740088-3884b800-0625-11ea-9052-5aa09b77deb5.png)

[2019-11-14 04:17] mustafawm opened #485 "Export Props interface?"
Hello,

Can you export the `Props` interface?
[PR](https://github.com/tanem/react-svg/pull/486)

Context: I'm doing something like this
[code]
As you can see above, I need to accept ReactSVG's props to pass them to `<ReactSVG {...props} />`

[2019-11-16 18:35] tanem commented on #483
Closing due to inactivity.

[2019-11-16 18:35] #483 closed

[2019-11-16 18:40] tanem commented on #484
Hi @i-fuyun. My hunch here is that the function on the next line after the highlighted line, `this.initSVG(svg)`, is causing an infinite loop.

Can you show me the content of `this.initSVG(svg)`?

[2019-11-16 20:46] tanem commented on #485
Hi @mustafawm.

Instead of adding the `export`, we can do something like the following:

[code]

This will give us all of the props defined on the `ReactSVG` class, rather than just the `Props` interface itself.

Also, since we're already passing the required `src` prop to `ReactSVG` within the `forEach`, we'll probably want to `Omit` it:

[code]

Keen to hear how you get on? :pray:

[2019-11-18 02:21] mustafawm commented on #485
Hi @tanem

Thanks for your quick/informative reply. This approach works 👍

**Out of curiosity,** I see many libraries (including `@tanem/svg-injector` 😁) export their `types/interfaces`, is there a reason why you're preferring this approach (`ComponentPropsWithoutRef`) over exporting `Props` directly?

Moreover, when you have files like `types.ts` or `consts.ts`, you usually only import libraries'

[2019-11-18 06:46] yinqigithub commented on #483
sorry, i looked this so late,  i will fork, and i will push my example later, thank you very much

[2019-11-18 06:54] yinqigithub commented on #483
by the way,  my project use a big svg flie,   it's not a icon,  i looked for some  svg  tools，i found this react-svg is nearly my need，thank you

[2019-11-18 08:53] i-fuyun commented on #484
It's the `initSVG` function:

`    initSVG(svg) {
        const ary = [].slice.call(svg.children);
        ary.forEach((item) => {
            const _id = item.getAttribute('id');
            if (!_id) {return false;}
            this[_id] = item;
            if(_id.indexOf('closeBtn') !== -1) {
                item.style.cursor = 'pointer';
                item.addEventListener('mousedown', this.

[2019-11-18 18:54] tanem commented on #484
Yea doesn't look like there's an issue within that function at all. Keen to see what's happening in the parent component(s), but it's going to be hard to debug this without a running example.

Any chance you can fork [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) and recreate your issue there?

[2019-11-18 19:14] tanem commented on #485
All good.

Mainly laziness, since there's a way of solving the problem without making any changes or modifying the exported API  😆

`@tanem/svg-injector` gets less attention than this lib from me, so might just be reflective of where my head was at at the time.

Yea noticed that in other libs too. See laziness post above :wink:

I'm still open to exporting things that way, so will post back on thi

[2019-11-19 02:26] mustafawm commented on #485
Can relate to that reason 😄

I closed the PR since it's a one-word change, I thought you
- can easily make the change in any other commit
- might wanna rename it to something like `ReactSVGProps` (since the name `Props` is too generic and might conflict with consumers' vars?)

[2019-11-19 11:09] nyshokk opened #490 "Hello, i need help with blob"
I load new svg via input button, then i convert that file like URL.CreateObjectURL(file), but ReactSVG component don't support src like "blob:http://localhost:6075/7d3d3844-6e2e-4ed9-b01b-9e2a68f46479", can you help me? img can render blobs...

[2019-11-24 17:09] tanem commented on #490
Hi @nyshokk.

`react-svg` makes XHR requests for SVG's defined via `src`. So in this case, you'd probably have to do something like upload the binary data, serve it back via a URL, and use that URL in `react-svg`.

This is a bit long-winded though, so understand that it might not suit your use-case.

[2019-11-24 17:14] tanem commented on #485
Thanks @mustafawm :+1:

Nice idea. I also like to use named exports so consumers have control over naming, something like:

[code]

[2019-11-24 18:46] nyshokk commented on #490
I found another solution, svg-injector checks the data extension that is included in it, if the data does not have the svg extension then it returns an error, I removed this check and it worked, but thanks anyway for the answer)

[2019-11-24 18:46] #490 closed

[2019-11-25 01:51] tanem commented on #490
Oh nice, that's good to know. Glad you've got things working again 👍

[2019-12-01 08:51] GGLionCross opened #492 "Running local web server but unable to find SVG file"
My React SVG component looks like this in my App.jsx:
[code]
However, I get "Error!" in place of the SVG icon in my local website.
The console prints:
[code]
I'm serving my webpage using webpack-dev-server and I have an svg loader in my webpack config
My directory looks this:
[code]

[2019-12-01 16:31] tanem commented on #492
Hey @GGLionCross. This library makes XHR requests for SVGs, so `src` needs to be a URL.

If you look at [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) which uses Create React App, you'll see that the SVG is placed inside the `public` folder. That way it's available via XHR request from `ReactSVG` when the app is running.

I'm guess

[2019-12-01 20:54] GGLionCross commented on #492
Ahh okay, so first I should push the SVG to public repo, and then just take the URL for the raw image on github? I'll try that when I get home, and get back to you, thanks!

[2019-12-02 16:32] tanem commented on #492
It just has to be served from somewhere. It can be done locally, as in the create react app examples.

Take a look through the CodeSandbox examples in the readme if you haven't had the chance to yet, hopefully they'll give you a few more ideas.

Good luck 🍀

[2019-12-02 16:41] CKGrafico commented on #485
Yes, please export the props :D

[2019-12-02 16:58] renovate[bot] opened #495 "Update Dependencies (Renovate Bot) - old"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency @types/react to v16.9.16
 - [ ] Update dependency rollup to v1.27.10
 - [ ] Update dependency rollup-plugin-terser to v5.1.3
 - [ ] Update t

[2019-12-02 17:05] tanem commented on #484
Closing due to inactivity. If you manage to come up with a bug repro in CodeSandbox though, I'm happy to continue the investigation 👍

[2019-12-02 17:05] #484 closed

[2019-12-04 00:00] #492 closed

[2019-12-04 00:41] tanem commented on #485
Heh... hoping to have something out in the next day or so ⏳

[2019-12-04 15:17] seyaobey opened #506 "How to use react-svg component when a webpack loader has been defined"
Hello,
Apologies if this is not the right venue to ask this question.
We have happily been using `react-svg` for over a year now in our application (Kudos for this awesome library!).
Recently there has been a new requirement which forces us to define some extra loaders in our webpack.config to handle `svg files` loading.

So somewhere in our `webpack.config.js`, we added these lines:

[code]

Now

[2019-12-04 15:25] #506 closed

[2019-12-04 17:13] tanem commented on #485
@mustafawm @CKGrafico

Just released #507 in `v11.0.0`. The type definitions are available via named exports now, if you want to give it a try.

I'll leave the issue open for a while till I hear back :pray:

[2019-12-05 12:57] wutiange opened #510 "loading"
Loading all the time，I'm just using the simple example given

[2019-12-05 16:20] tanem commented on #485
Closing this down, feel free to @ me though if you have any feedback.

[2019-12-05 16:20] #485 closed

[2019-12-05 16:23] tanem commented on #510
Hi @wutiange.

Which example are you talking about, the [basic usage](https://github.com/tanem/react-svg#basic-usage) example, or one of the [live examples](https://github.com/tanem/react-svg#live-examples)? Have you tried any of the live examples to see if they work for you in the browser?

[2019-12-05 17:19] mustafawm commented on #485
thanks @tanem. it works 👍

[2019-12-06 13:17] wutiange commented on #510
I have solved this problem, the reason is that the path of the picture cannot be directly placed in src, but the way of import or require is used.

[2019-12-06 13:17] #510 closed

[2019-12-06 16:38] tanem commented on #506
No worries re the request for help, curious what the resolution was here?

Does `url-loader` turn those SVGs into base64 URIs? There might be a way to make `ReactSVG` handle these, but I'd need to dig into things further.

[2019-12-11 17:47] #495 closed

[2019-12-11 17:47] renovate[bot] opened #550 "Update Dependencies (Renovate Bot)"
This [master issue](https://renovatebot.com/blog/master-issue) contains a list of Renovate updates and their statuses.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] Update babel monorepo (`@babel/core`, `@babel/plugin-transform-runtime`, `@babel/preset-env`)
 - [ ] Update dependency @types/react to v16.9.16
 - [ ] Update depen

[2020-01-20 16:21] LuigiDerson opened #635 "Loading SVG with Next.js: 404 Not Found"
Hi!

It works fine when rendering a file in pages directory, but in subdirectory doesn't load the svgs.
I have all the imgs in public folder in root directory

![Screenshot_2](https://user-images.githubusercontent.com/47396669/72742100-f20d8580-3ba0-11ea-8032-a8eb8417ca65.png)

[2020-01-21 10:51] bitboxer opened #639 "Accessibility and replacing title/description inside of the svg"
It would be great if it would be possible to update the `title` and `desc` attribute of the svg to have a proper description based on the context where the svg is used. Also adding `role="img"` might be helpful, too.

I am currently adding all of that using the hooks ReactSVG provides, but having them inside of the library would be super nice.

[2020-01-21 12:28] bitboxer commented on #639
If you are okay with this proposal I would love to create the PR for this.

[2020-01-21 16:42] tanem commented on #635
Hi @LuigiDerson. Do you have a working repro I can look at somewhere, e.g. CodeSandbox?

One thing to be aware of is that behind the scenes this library makes XHR requests for the SVGs, so if those paths in your screenshot are incorrect, then that'll explain the 404s.

[2020-01-21 17:45] tanem commented on #639
Hi @bitboxer :wave:

Sounds like you're using the API as intended here. Assuming I've understood your use-case correctly:

- SVG `desc` and `title` elements can be added to the SVG via the `beforeInjection` callback.
- `role` and `aria-label` elements can be automatically added to the outermost wrapping element via props.

I've created a live example [here](https://codesandbox.io/s/quizzical-sound

[2020-01-21 20:28] bitboxer commented on #639
Yes, the example is what I did in our codebase. My proposal would be adding a `title` and `desc` attribute and always adding a `role="img"` to the svg. If a `title` or `desc` is given, those will replace the content in the svg. I can totally understand the reasoning by not adding this, but I would suggest to add them anyway. This will make it easier to add accessibility features and maybe nudge pe

[2020-01-22 00:28] LuigiDerson commented on #635
I'm going to ask if I can share the code. Im ussing this folder structure:

[code]
Next.js can serve static files, like images, under a folder called public in the root directory. Files inside public can then be referenced by your code starting from the base URL (/).

[Next public folder info](https://nextjs.org/docs/basic-features/static-file-serving)

I have the same path for all footer icons

[2020-01-22 17:26] tanem commented on #635
Thanks for the info.

Looks like you're using relative links, have you tried using absolute? e.g. change `src` to `/imgs/social/facebook-icon.svg`?

If that doesn't work, I'll try recreating the issue on my end with a new Next project.

[2020-01-22 17:44] tanem commented on #639
Yep, agree on making things more obvious in some way regarding a11y.

Still hesitant to expand the API in that way just yet though, so in the meantime, I'll add some documentation and an example based on what we've talked about here.

[2020-01-22 20:01] LuigiDerson commented on #635
That worked so fine! Thank you.

[2020-01-23 06:19] tanem commented on #635
No worries, glad to hear it worked! I'll go ahead and close the issue now.

[2020-01-23 06:19] #635 closed

[2020-01-26 18:01] tanem commented on #639
Just merged #648. As per the PR desc., the FAQ section might not be in the best place, but we can update that in future, along with adding further FAQ based on past issue questions.

[2020-01-26 18:01] #639 closed

[2020-01-27 04:56] bitboxer commented on #639
I understand your decision, but I really hope that you will change your mind in the near future and see that accessibility should not be hidden in a FAQ, but should be real attributes.

[2020-01-27 15:13] darkouz opened #651 "IE 11 programmatically fill SVG problem"
Hi, i'm trying to fill my SVG with javascript method setAttribute in the beforeInjection props:

[code]

It work perfectly in Chrome, Firefox, Safari etc ...
But in Internet explorer 11 it wont work.
When i console.log "element" i got this on IE :

![svg](https://user-images.githubusercontent.com/8396656/73185949-4a073780-411f-11ea-92d9-a86fc798350e.png)

It seems that it cant see the pathes insid

[2020-01-27 16:25] tanem commented on #651
Hi @darkouz.

`ParentNode.children` is not supported on `SVGElement`'s in IE: https://developer.mozilla.org/en-US/docs/Web/API/ParentNode/children.

Looks like you'll have to find another way of selecting those elements 🙏

[2020-01-27 16:35] darkouz commented on #651
Oh damn, thanks for the quick answer, will investigate a new way to do that for IE

[2020-01-27 16:35] #651 closed

[2020-01-29 21:29] tanem commented on #639
To clarify, the intent behind adding both an FAQ and live example was not to hide that information, but to make it more obvious, since previously it wasn’t documented at all.

It’s a stepping stone towards potentially modifying the API, so if anything changes in this regard in future, I’ll be sure to ping you 🙂

[2020-02-13 23:11] Tomcatus opened #676 "Styling SVG in another component using styled components"
Hello, I've tried to find a way to solve my user case but couldn't find a solution so maybe somebody can show me what's going on wrong.
My case is that I have an icon defined like
[code]
Then in some other component I need to conditionally change the color so I do:
[code]
This is a simplified case, but I want to control the fill color based on some condition inside that `NavBarButton` component. U

[2020-02-14 06:00] tanem commented on #676
Hey @Tomcatus. This lib has a few styling options, but I'm not familiar enough with styled-components to give you an answer for your use-case off the top of my head right now, unfortunately.

Heading into a busy couple days away from the keyboard here, but when I get some time I'll create a repro by forking [the Basic Usage](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basi

[2020-02-16 17:21] tanem commented on #676
Had another quick look at this.

In this lib, since non-documented props are spread onto the wrapper element, you could change `BaseIcon` to something like:

[code]

`Button` is not defined in your original issue report, so I'm not sure exactly what's going on between `NavBarButton` and `Icon`. Guessing you'll need to tweak the style rules to target `fill` though, the [CSS-in-JS](https://codesandb

[2020-02-17 01:41] hc-codersatlas commented on #203
Why does static html need to be generated? Is it a performance issue? How much of a difference is it vs doing something like ReactDOM.render? I agree it'd be good to not have to use ReactDOMServer methods when this isn't SSR.

[2020-02-17 16:19] tanem commented on #203
Hi @hc-codersatlas.

This library delegates to [@tanem/svg-injector](https://github.com/tanem/svg-injector) which works with raw HTML, so [as stated earlier in this thread](https://github.com/tanem/react-svg/issues/203#issuecomment-468770529) using `renderToStaticMarkup` is convenient.

Open to changing this, it just hasn't been prioritised yet 😉

[2020-02-21 12:46] Tomcatus commented on #676
Hey @tanem so I figured out what the issue was - it were the SVGs themselves. Some of them got a fill property, some didn't. What I did is to define my BaseIcon like this
[code]
And the code I suggested above worked, so:
[code]
worked for me. Thanks for your help, you suggested to use CodeSandbox and after trying to prepare a reproducible example I noticed that something might be wrong with the ic

[2020-02-21 12:46] #676 closed

[2020-02-21 20:26] tanem commented on #676
Nice one! No worries, and thanks for taking the time to post an update 🎉

[2020-03-02 12:46] esr360 opened #698 "Better way to handle class names?"
Currently, it feels very wrong to do something like:

[code]

Why can't we do something like:

[code]

? If you are agreeable, I'm sure I could work on a PR for such functionality. Thanks (and thanks for the cool library).

[2020-03-02 16:37] tanem commented on #698
Hi @esr360, thanks for the kind words.

Re the `className` prop: You can actually do that already since as per the docs `Other non-documented properties are applied to the outermost wrapper element.` 👍

[2020-03-04 14:16] esr360 commented on #698
Hi @tanem, whilst I did in fact miss this originally, it doesn't seem to do the same thing. I want the class to be on the SVG itself, which is what I would expect to happen by doing:

[code]

If need to wrap the SVG in a div with a className I can already do that natively (even if it would mean more div soup).

Thanks!

[2020-03-04 17:01] tanem commented on #698
Ah, I see now. Thanks for clarifying.

For quite some time this library did actually have a way of applying an `svgClassName`, however, it was deliberately removed in [`v10.0.0`](https://github.com/tanem/react-svg/blob/master/MIGRATION.md#v1000). Some of the reasoning behind that change is described in [this PR comment](https://github.com/tanem/react-svg/pull/338#issue-276013947).

So whilst it's

[2020-03-05 16:26] #698 closed

[2020-04-10 23:17] othmanelhoufi opened #751 "can't setState inside afterInjection"
can't setState inside afterInjection !
**Error: Maximum update depth exceeded. This can happen when a component repeatedly calls setState inside componentWillUpdate or componentDidUpdate. React limits the number of nested updates to prevent infinite loops.**

`

    <ReactSVG

          src={this.state.file.name}
          afterInjection={(error, svg) => {
            if (error) {
              co

[2020-04-11 00:43] #751 closed

[2020-04-13 09:56] seleckis opened #756 "get rid of any wrapper at all"
Would be great to render just svg without any wrapper. Is it possible?

[2020-04-13 17:26] tanem commented on #756
Hey @seleckis. This is a common enough question that an FAQ has been created for it. Please see ["Why are there two wrapping elements?"](https://github.com/tanem/react-svg#faq).

[2020-04-13 19:02] seleckis commented on #756
ok, thank you

[2020-04-13 19:02] #756 closed

[2020-04-29 14:27] oyo-org opened #773 "IOS 11 on Ipad does not render the SVG"
Even with the Array.from polyfill the render of the svg is prevented and i only get a empty div

[2020-04-29 17:52] tanem commented on #773
Hi @oyo-org:

- Can you please share the code or a reproduction of the issue you're seeing? Or better yet, a fork of [the basic CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) example that isolates the code.
- What browser & version are you using on the iPad?

Thanks.

[2020-05-06 08:08] darren-martz opened #781 "Force Refresh"
Is there a way to force a refresh to reload the URL and draw again?

[2020-05-06 17:27] tanem commented on #773
Closing due to inactivity.

[2020-05-06 17:27] #773 closed

[2020-05-06 17:30] tanem commented on #781
Hi @darren-martz.

Depends what you're after, e.g. is it a React re-render you want, or a re-request of the SVG itself (by default, the SVGs are cached after the first request).

Don't suppose you have a code example I can look at?

[2020-05-06 19:03] darren-martz commented on #781
It is a rather basic usage to start inside a React.Component class accepting a property that includes part of a URL. In the render method is the following code:

`let dienum = this.props.station.dienum;`
`let urljoin = require('url-join');`
`let url = urljoin(apiUrl, this.props.station.drawingurl);`
`<ReactSVG src={url}/>`

The URL needs to be force refreshed when the dienum value changes which I

[2020-05-07 21:35] tanem commented on #781
Thanks for the info 🙏I'll carve out time to take a closer look either later today, or this weekend.

[2020-05-08 18:03] tanem commented on #781
I'm guessing a bit since it's hard to know exactly what to recommend without a working example, but here goes:

Since `url` is changing, `ReactSVG` will be receiving a new value for `src`, and so should re-render. If that `url` has been used previously, then a cached result (SVG) will be returned, and an XHR request won't be made.

Either way, when `url` changes, you should be seeing different SVG

[2020-05-10 17:16] darren-martz commented on #781
Sometimes it is all about the approach. I ended up changing the server API so the URL included the drawing ID and it worked. Previously the URL was generic and read which diagram to return based on internal state. That was why I was looking for a force-refresh feature, but this refactor works flawlessly. Thank you.

[2020-05-10 17:16] #781 closed

[2020-05-14 05:18] lschuft opened #790 "Using afterInjection causes reinjection on every re-render"
Hi, thanks for this library.

I'm having an issue when a component, with a ReactSVG in its tree, re-renders. The re-render triggers because of a state change unrelated to the props passed to ReactSVG, but it nevertheless causes ReactSVG to trigger again the injection.

I'm using both afterInjection to execute some logic and beforeInjection to implement a bit of styling. When the parent component r

[2020-05-14 18:10] tanem commented on #790
Hi @lschuft, thanks for the detailed report!

This is expected behaviour since `onDrawingLoad` and `onPrepareSVG` are both recreated each time `DesignViewer` renders, meaning they're different objects and therefore not referentially equal.

It's the same reason why this happens:

[code]

It's something to be aware of when using React, but most of the time it's not an issue as you've found out.

On

[2020-05-14 21:40] lschuft commented on #790
Thanks for the detailed response, @tanem ! The provided article was very useful. I preferred to use the useCallback approach; I also learned that useCallback is also necessary when using the loading and fallback props.

Thanks again for the small React lesson, closing this as I managed to get it working. Cheers!

[2020-05-14 21:40] #790 closed

[2020-05-15 01:05] tanem commented on #790
No probs, glad to hear it 🎉

[2020-06-01 15:36] supermitel opened #814 "reference not updated on id change"
For a radial gradient with a certain id
`<radialGradient id="myradgrad" >`
The id is changed in
`<radialGradient id="myradgrad-9" >`
But the reference for that id is not updated
`
    .cls-3 {
        fill: url(#myradgrad);
    }
`
This applies for the inline style also:
`<rect style="fill: url(#myradgrad)" >`

note: this is the first time I post an issue, I hope I was clear enough, ty guys for th

[2020-06-01 15:50] supermitel commented on #814
(And I am still wondering why does it change my id in the first place... )

[2020-06-01 18:11] tanem commented on #814
Hi @supermitel,

Thanks for the report and kind words.

It does this by default so that the ids don't clash when multiple instances of the same SVG are injected on a page.

This behaviour can be turned off by setting `renumerateIRIElements` to `false`, which may actually be all that's needed if only one instance of the SVG is being injected.

The current implementation won't modify either of those

[2020-06-01 18:45] supermitel commented on #814
Hello again, thanks for the quick answer.

Yes, any of the following fixed my problem:
- setting `renumerateIRIElements={false}` so that the id won't be changed
- setting the fill attribute directly, not in a style definition.

Though, i think it may be a good idea for a future implementation to also modify those style definitions since that's the 2 ways illustrator is exporting a svg (at least mi

[2020-06-01 18:45] #814 closed

[2020-06-01 22:37] tanem commented on #814
Glad to hear, thanks for the update 🎉

Also, thanks for the suggestion. I've tended to push back on handling situations like that within this library since there are already tools like [svgo](https://github.com/svg/svgo) which can do things like [`convertStyleToAttrs`](https://github.com/svg/svgo/blob/master/plugins/convertStyleToAttrs.js).

Not sure if that would work in your particular situation

[2020-07-14 16:36] angy29 opened #867 "The SVG isn't resize"
I have a component to allow me upload an image and see it in the preview box, in this case the SVG image is not resize in his container and just appear a little part of it, example:

I try to load this map:
![image](https://user-images.githubusercontent.com/382566/87451365-63b11400-c5c5-11ea-9cdd-07f8cb7866ec.png)

And just can see a little part of the map in my component
![image](https://user-ima

[2020-07-14 18:01] tanem commented on #867
Hi @angy29.

Any chance you can create a working example of the problem by forking [the Basic Usage CodeSandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage)?

Alternatively, if you can provide some snippets of code or the actual SVG you are using, I can have a play around at my end.

Thanks 🙏

[2020-07-17 12:38] CuriousCactus opened #871 "Tooltip on hover"
I would like to show a tooltip when I hover over an svg icon.

As I understand it, I need a <title> element. I have done this, but I have a very strange bug where the tooltip shows only under certain circumstances:

- Open the inspector
- Right click the <svg> element
- Choose "Edit as HTML"
- Make a trivial change such as adding an extra space between "svg" and "xmlns" (but you _do_ need to make

[2020-07-17 18:32] tanem commented on #871
Hey @CuriousCactus.

No problem, glad you're finding it useful.

As for the issue: I think you've found a mistake in the documentation 😳 The example that's given in the README is creating an [`HTMLTitleElement`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title), but it should actually be an [`SVGTitleElement`](https://developer.mozilla.org/en-US/docs/Web/API/SVGTitleElement).

What

[2020-07-18 11:45] CuriousCactus commented on #871
That fixed it, thank you for the quick reply!

[2020-07-18 17:45] tanem commented on #871
Nice one. I'll make the docs changes now too 👍

[2020-07-18 17:59] #871 closed

[2020-07-21 14:57] SzymonGalazka opened #881 "Transitions after click on SVG"
Hi,
I wonder if it's possible to have a simple transition after clicking on the SVG using `react-svg`.

I usually do transitions in the following manner:
1.  Have some element: `<div className='dummy'/>`
2. Click on it
3. Apply another class and have `<div className='dummy dummy-clicked'/>`
Where:
[code]

Very easy to achieve in react.

However, using `react-svg`, when we conditionally apply a cer

[2020-07-21 18:15] tanem commented on #867
Closing due to inactivity. Feel free to post back if you'd still like help though, and we can reopen the issue.

[2020-07-21 18:15] #867 closed

[2020-07-21 18:51] tanem commented on #881
Hi @SzymonGalazka, interesting question! Haven't considered this sort of thing before 🤔

I'll have a play around in CodeSandbox, will let you know how I get on.

[2020-07-22 19:01] tanem commented on #881
To answer your main question:

Here's a little example that uses the `afterInjection` callback and CSS animations: https://codesandbox.io/s/patient-wood-v2k4e.

Does that help? If so, I'll add it as an example in the docs.

[2020-07-28 18:06] tanem commented on #881
Closing due to inactivity, but have made the example an official Live Example via #891.

[2020-07-28 18:06] #881 closed

[2020-09-03 19:33] alimertcakar opened #945 "Triggers security warning"
Fresh install with create react app + react-svg triggers github security warning.

Known moderate severity security vulnerability detected in **websocket-extensions** < 0.1.4 defined in yarn.lock.
--
yarn.lock update suggested: websocket-extensions ~**> 0.1.4**.

Would be nice if you updated the dependency (it's not on your dependency list but only after installing this module causes this warning)

[2020-09-04 19:03] tanem commented on #945
Hey @alimertcakar, thanks for the reminder 👍

Have just released v11.0.38 which contains changes that clear the GitHub security warnings for this repo. That should hopefully fix your issue too.

Keen to hear how you get on 🍀

[2020-09-04 20:02] alimertcakar commented on #945
Wonderful 👍
Thanks for your efforts on this cool tool, keep working :)

[2020-09-05 20:20] tanem commented on #945
Will go ahead and close this now there are no security alerts in the repo.

[2020-09-05 20:20] #945 closed

[2020-09-18 17:27] shanematte opened #966 "If more than 2 svg displaying in black, why?"
![444](https://user-images.githubusercontent.com/3002401/93627275-836e1980-fa06-11ea-97d5-9405390e640d.png)

[2020-09-22 18:17] tanem commented on #966
Hey @shanematte, can you please provide some more info?

Code snippets, samples of the SVGs you're trying to load, or better yet, a working repro of the issue using a fork of [the Basic Usage CodeSandbox example].

[2020-10-01 16:24] tanem commented on #966
Closing due to inactivity.

[2020-10-01 16:24] #966 closed

[2020-10-04 09:00] Tony1023 opened #994 "SVG not loading when url does not end in .svg"
Say that the `src` is `public-url/my-asset`, ReactSVG does not render the svg returned by that endpoint. In fact, my backend does not even receive the get request. It only works when the url is like `public-url/my-asset.svg`.

Is there a way to force ReactSVG to always make the get request even if the url does not end in `.svg`?

[2020-10-04 17:35] tanem commented on #994
Yea, it's deliberately coded that way [in `@tanem/svg-injector`](https://github.com/tanem/svg-injector/blob/master/src/inject-element.ts#L22) which this lib depends on. That check came over from [the upstream repo](https://github.com/iconic/SVGInjector/blob/master/svg-injector.js#L190), but I'll have to have a poke about to see if I can find the original reason for doing that.

If you need to keep

[2020-10-08 12:45] xhubeny2 opened #1000 "Problem with injecting SVG with filter on IE11"
Hello, I have problem with injecting SVG with filter (shadow) on IE11. The original code for svg looks like this:

`<svg width="29" height="52" viewBox="0 0 29 52" fill="none" xmlns="http://www.w3.org/2000/svg">
<g filter="url(#filter0_d)">
<path d="M18.0003 12.6958V8H19.0003V40H18.0003V35.3042C18.0003 33.6865 17.347 32.1373 16.1887 31.008L11.2037 26.1481C9.99592 24.9707 9.99592 23.0293 11.2036 21

[2020-10-09 18:18] tanem commented on #994
Update: I'm in the process of making changes that will allow this in `@tanem/svg-injector`. Will post back once they're ready.

[2020-10-09 18:22] tanem commented on #1000
Hey @xhubeny2.

Yep, using `renumerateIRIElements={false}` is probably the best thing to do to keep moving right now. I'll see if I can track down why the id isn't being updated.

The second issue is a bit weird, might just be an IE thing, but will see what I can find too.

[2020-10-11 17:44] tanem commented on #1000
Update: Issues appear to be limited to IE, can't recreate in Chrome/FF/Safari. Sorting out a local VM so I can test directly in IE11.

[2020-10-12 05:45] xhubeny2 commented on #1000
Ok, if you have any new information, please let me know. Thanks

[2020-10-12 18:09] tanem commented on #1000
Here's what I've found:

**Issue 1**

The first issue is a legit IE bug in `@tanem/svg-injector`. [This regex](https://github.com/tanem/svg-injector/blob/master/src/inject-element.ts#L177) needs to allow for extra quotes in url() attrs.

The fix is small and my local VM tests appear to all check out, so I'll make the official fix as soon as I can and will post back here when it's shipped.

**Issue

[2020-10-13 07:06] xhubeny2 commented on #1000
Sweet, thank you!

[2020-10-13 17:55] tanem commented on #1000
Released the fix for issue 1 in `v11.0.44`.

[2020-10-23 16:10] martinl16 opened #1024 "xlink href not working"
fill: url(#d);

works in my browser but does not work with react-svg

[2020-10-23 19:36] tanem commented on #1024
Can you provide more info please? e.g. How you're using this library, the full source of the SVG.

A working repro would be best, you base it off a fork of [the CodeSandbox basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage).

[2020-10-25 03:21] tanem commented on #1000
Released the fix for issue 2 in `v11.1.0`. You can now set `useRequestCache` to `false` for that problematic SVG in IE11.

Keen to hear how you get on. I'll leave the issue open for a while before closing

[2020-10-26 08:09] xhubeny2 commented on #1000
Runs great on IE11 now!

Thank you 👏

[2020-10-26 16:28] tanem commented on #1000
No problem! Thanks for letting me know 🎉

[2020-10-26 16:28] #1000 closed

[2020-10-28 13:31] martinl16 commented on #1024
https://codesandbox.io/s/reverent-dan-d2hy5?file=/src/index.js

here, as you can see if you open the svg in a browser by itself the colors are differents than with reactSVG

[2020-11-01 17:24] tanem commented on #1024
Thanks for the repro. Looks like the style URL ids aren't being updated along with the elements they're referencing. I'll look into a fix.

As a workaround for now, you can use `renumerateIRIElements={false}`.

[2020-11-05 19:28] mtmacdonald opened #1047 "React 17 support"
Hi! Can we please have support for React 17 so I don't get this peer dependency warning upon npm install in my React 17 projects? Thanks!

npm WARN react-svg@11.1.0 requires a peer of react@^15.5.4 || ^16.0.0 but none is installed. You must install peer dependencies yourself.
npm WARN react-svg@11.1.0 requires a peer of react-dom@^15.5.4 || ^16.0.0 but none is installed. You must install peer depe

[2020-11-08 17:24] tanem commented on #1047
Hey, it's being tracked in #1030.

Was waiting for [the official enzyme adapter for React 17](https://github.com/enzymejs/enzyme/issues/2429#issuecomment-719057604) to be released but it's taking a while, so will use [the temporary solution](https://github.com/enzymejs/enzyme/issues/2429#issuecomment-679265564) mentioned in that thread.

Will update this issue once a new version is out.

[2020-11-08 17:30] tanem commented on #1047
Added React 17 support in `v11.1.1` which was released just now.

[2020-11-08 17:30] #1047 closed

[2020-11-30 15:35] Mar0cas opened #1072 "SVG with <image xLink:href="data:image/png;/base64"> not loading"
Hello there.
I am using your lib to load some SVGs that are mounted more or less like this:

[code]

So, this image is a photo of a person embedded in the SVG, and with some other SVG elements, are you making any impediment on loading SVG with image tag's in it, or, have any restrictions on the file length?

Why am I asking about the file length, I have 5 image tags with base64 encode, so it makes

[2020-11-30 16:49] tanem commented on #1072
Hi @Mar0cas, I'll take a look once I've tidied a few other tasks up. Any chance you can create a working repro by forking [the CodeSandbox Basic Usage example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage)? That'll help speed up resolution 🙏🏽

[2020-12-02 12:36] Mar0cas commented on #1072
@tanem it is working, I placed the logs when the files are loaded, the error message was not so cleared when using files from `localhost` urls. I added a CORs Chrome extension to overcome this problem.

The log error was this one:
`Image Component = SVG = load error => Error: Unable to load SVG file: http://localhost/app/themes/.../takeover/gratitude-image.svg at XMLHttpRequest.httpRequest.onready

[2020-12-02 19:48] tanem commented on #1072
@Mar0cas thanks for taking the time to post that update, and the kind words! Glad it's working for you 🙂

[2020-12-02 19:48] #1072 closed

[2020-12-10 00:00] rikkimongoose opened #1088 "Add ref support for SVG component"
There're some useful SVG-specific methods in JavaScript.
If I need to update a control inside SVG according to status (i.e. I have a schema in SVG and need to update label), it can be useful to access SVG item as DOM object.

Is it possible to add refs support to all injection libraries chain you use? It's kind of simple react stuff that can make using it much easier:

https://www.newline.co/@dmit

[2020-12-10 17:36] tanem commented on #1088
Hi @rikkimongoose.

In this library, the SVG that gets injected does not become a React component, but you can access the injected SVG DOM element itself by using the `afterInjection` prop.

If you want to provide an example of your use-case by forking [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage), I can help further if you like?

[2020-12-12 17:19] rikkimongoose commented on #1088
Thank you!
I got your idea! It really helpful. I'm kind of new in React and still learning.
The thing is I want to use SVG to display interactive data that comes to control from status. So I need to find somehow label and shape items in SVG to update their state.

[2020-12-13 02:16] tanem commented on #1088
No problem. Since you have access to the SVG DOM element, you can use DOM methods to find/update the SVG elements.

It's hard to know exactly what to do without an example though - that fork I was asking about in my previous comment would be really helpful 🙏🏽

[2020-12-15 18:22] tanem commented on #994
Hey @Tony1023, sorry for the delay, life has been a bit busy lately!

Have just released `v11.2.0` which allows extensionless SVGs. Keen to hear how you get on :pray:

[2020-12-16 17:20] tanem commented on #1024
Had another look at this.

If you have control over the SVG, another (better) option is to use [`svgo`](https://github.com/svg/svgo) to optimise the SVG prior to rendering. It's something I'd recommend anyway, but in this case, using `svgo` with its default settings will convert relevant styles into element attributes. This means the IDs will be modified correctly when injected by this library.

H

[2020-12-19 19:09] tanem commented on #1088
Closing due to inactivity.

[2020-12-19 19:09] #1088 closed

[2020-12-19 19:10] tanem commented on #994
Closing since the issue should be resolved now.

[2020-12-19 19:10] #994 closed

[2021-01-11 22:07] snake-py opened #1121 "Is it possible to load SVG XML and not pass the path?"
I am working on an electron app which uses react.

Hence I read SVGs via the fs module. However, when I pass into the src the encoded svg is not rendered. am I doing something wrong?

my component looks like this:

[code]

the passed in svg
[code]

I am stupid - I found out that I simply need to tell react to render the string as HTML.

[2021-01-11 22:36] #1121 closed

[2021-01-14 17:23] tanem commented on #1121
All good 👍🏽 Yea if you've got the SVG string handy you probably don't need this library.

[2021-01-20 13:44] krutoo opened #1126 "How to test beforeInjection call in unit tests?"
Hi, how can i test that `beforeInjection` is called in unit tests?

i need to load svg by url but is impossible in CI as example

[2021-01-20 16:54] tanem commented on #1126
Hi @krutoo 👋🏽

Can you share some code examples showing what you're trying to do? That'll make it easier to help you out.

In the meantime, the tests for this library might contain some useful info, e.g. [here](https://github.com/tanem/react-svg/blob/master/test/browser.spec.tsx#L257) is the `beforeInjection` test.

[2021-01-21 03:53] krutoo commented on #1126
@tanem Thank you, my bad. I think it can be in examples list on readme

[2021-01-21 13:12] renovate[bot] opened #1127 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Error type: Cannot find preset's package (github>whitesource/merge-confidence:beta)

[2021-01-21 16:58] tanem commented on #1126
You should be able to create a mock function, pass it as the `beforeInjection` callback, then run assertions.

Something like (pseudo-code):

[code]

As mentioned previously though, if you can share some actual code that would be really helpful 🙂

[2021-01-22 05:44] krutoo commented on #1126
@tanem I just dont know how to mock httprequests like in this library sinin tests.

how the library makes the request - is implementation detail

i dont know what should i mock for call `beforeInjection` callback

[2021-01-22 18:03] tanem commented on #1126
Ah ok, it sounds like you're talking about how to mock the request, but you want to do that at an even lower level than the example I showed you (where Sinon is mocking `XMLHttpRequest`).

You can intercept requests at the network level using tools like [`msw`](https://mswjs.io/) or [`nock`](https://github.com/nock/nock), so either of those might help you here.

I could spend some time coming up w

[2021-01-23 13:35] krutoo commented on #1126
@tanem, maybe in the future it would be useful to add to the examples.

[2021-02-25 17:20] tanem commented on #1126
Hey @krutoo, just released `v12.0.0` of this library which uses `nock` for testing instead of `sinon`. This should give you enough of a reference to go on for your own tests now, so I'll go ahead and close this issue 🙂

(FWIW my first take used `msw`, but I ran into issues because [it doesn't seem to set `responseXML`](https://github.com/mswjs/node-request-interceptor/blob/79d2ee38c88ad6bb57ffc075

[2021-02-25 17:20] #1126 closed

[2021-03-05 08:40] toovy opened #1184 "Possibility to remove event listeners when removed from DOM?"
Hi! Very nice component, thanks a lot! In our use case we render an SVG and in the afterInject we initialise some click listeners on certain SVG DOM nodes to trigger popups. Just to stay clean we would like to remove the listeners when the SVG is removed from the DOM. Is there any way to accomplish that with the actual ReactSVG component or would we need another "unload" callback?

[2021-03-07 17:49] tanem commented on #1184
Hey, thanks for the kind words 🙏🏽

Hmm hadn't considered this use-case. An unload callback is one option, I'll have a play around with a couple of ideas and will get back to you 👍🏽

[2021-03-09 17:05] tanem commented on #1184
@toovy do you have a code sample of what you're talking about here? Just want to make sure I'm dealing with the correct scenario.

[2021-03-19 00:32] wdfinch opened #1206 "Add yarn 2 compatibility"
The following error occurs when compiling this library with typescript while using yarn 2

.yarn/$$virtual/react-svg-virtual-fe1233e616/0/cache/react-svg-npm-12.1.0-ee18b746f3-31636e51bc.zip/node_modules/react-svg/dist/ReactSVG.d.ts(1,28): error TS7016: Could not find a declaration file for module 'prop-types'. '/home/wfinch/work/dialsource1/dialsource/frontend/.yarn/cache/prop-types-npm-15.7.2-d7

[2021-03-29 00:17] tanem commented on #1184
Closing due to inactivity. Happy to revisit if need be, just post back here.

[2021-03-29 00:17] #1184 closed

[2021-03-29 00:23] tanem commented on #1206
Haven't worked much with Yarn 2 yet, don't suppose you have any examples of other well-known React libraries setting `prop-types` in peer deps?

Curious because it goes against the recommendations [here](https://github.com/facebook/prop-types#how-to-depend-on-this-package), so I'm keen to find out a bit more before making such a change.

[2021-03-29 20:17] wdfinch commented on #1206
Thanks for the reply. After some more investigation, peer dependecies is not the best solution. I think the right solution is to add `@types/prop-types` to your dependencies.

The issue is that yarn 2 uses strict scoping for packages which is good. So you can only import what you specify in your package.json. When you publish the package, the `devDependieces` will not be installed when we install

[2021-04-06 03:53] tanem commented on #1206
Thanks @wdfinch, yep your proposal makes sense 👍

Did you want to create the PR? I'm happy to do it if not.

[2021-04-06 03:58] wdfinch commented on #1206
I can but I won't be able to get to it until this weekend.

[2021-04-06 04:06] tanem commented on #1206
No problem, I'll keep an eye out for it, cheers 🙏

[2021-04-06 04:11] wdfinch commented on #1206
Sounds good.

[2021-04-10 18:51] wdfinch commented on #1206
PR made

[2021-04-11 18:06] tanem commented on #1206
#1235 was released in `v13.0.1` just now, so I'll go ahead and close this issue.

Thanks again for reporting & fixing the issue @wdfinch 👍

[2021-04-11 18:06] #1206 closed

[2021-04-11 19:45] wdfinch commented on #1206
No problem!

[2021-05-26 09:43] MuhammadObeidat opened #1287 "Icons seems to load slow"
Icons seems to load slow for the first time i opened the application which cause inconsistent design, any solution?

[2021-05-27 17:55] tanem commented on #1287
This library makes XHR requests for SVGs behind the scenes (by default they're then cached). Since you mentioned "first time" my guess is slow network responses for those SVGs, but you could confirm this via dev tools network tab for example.

If you don't want the overhead of those initial requests you might want to consider a library like [svgr](https://github.com/gregberge/svgr) instead.

[2021-05-31 17:34] leobenkel opened #1295 "overriding componentDidMount break the rendering"
I have a  component class that is setting up its version of `componentDidMount` and the result is that `ReactSVG` does not render the content of the SVG file.
But as soon as I interact with the component, it renders it.

Is that a known problem ? I am starting with react so I might have messed something up.

[2021-06-01 12:09] michaellill-corefihub commented on #1295
If you add the attribute **afterInjection={console.log}**, is there any error printed to console?

[2021-06-01 12:13] michaellill-corefihub opened #1297 "Icon not showing: "Error: Parent node is null""
SVG is not injected properly when loading the svg the 2nd time:
[code]
"Error: Parent node is null" is printed to console.

When removing the style attribute it seems to work.
Is this expected?

[2021-06-01 13:59] DonikaV opened #1298 "Sometimes svg is not injected till user click somewhere in the dom or do resize,"
I checked Elements tab and i see empty wrapper until I click somewhere in the dom or scroll the page.

[2021-06-01 15:29] mapsandapps commented on #1297
I'm having the same issue. My SVGs are getting injected properly, but if I add any `style` or `beforeInjection` attribute, some of them do not get injected.

[2021-06-01 17:43] tanem commented on #1298
Can you please provide a repro of this issue? You can fork the [Basic Usage sandbox](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) for that if you like.

[2021-06-01 17:48] tanem commented on #1295
Hard to know what's going on without seeing some code. Can you please provide a repro? You can fork the [Basic Usage](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) sandbox for that if you like.

[2021-06-01 17:57] tanem commented on #1297
Thanks for the report, can reproduce the error, will post back when I know more.

[2021-06-01 18:18] leobenkel commented on #1295
Hello, here is the error message:

[code]

[2021-06-01 18:50] tanem commented on #1297
Some more info would really help 🙏

@michaellill-corefihub: Keen to see some code re "loading the svg the 2nd time". Can you please create a repro using the [Basic Usage](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) sandbox? Just want to make sure I'm looking at the right thing.

@mapsandapps: Your issue sounds slightly different to the original issue, but for

[2021-06-01 18:51] tanem commented on #1287
Closing due to inactivity.

[2021-06-01 18:51] #1287 closed

[2021-06-02 08:08] michaellill-corefihub commented on #1297
@tanem I tried creating a repro. I did not succeed. In our project we are using react-router. Could this be part of the problem?

[2021-06-02 08:13] michaellill-corefihub commented on #1295
I assume this to be a duplicate of #1297. The error message is the same.

[2021-06-02 12:16] jcvilap commented on #1287
@tanem we are having the same issue since we upgraded from `^11.2.5` to`^13.0.6` this week.  Is there anything new in 13 that may be causing this slow load compared to older versions?

[2021-06-02 13:09] mapsandapps commented on #1297
I also tried creating a repro and have not been successful. I haven't figured anything out on my end that is different about the ones that are getting injected vs. the ones that aren't, which would probably be the key to a repro. Still looking...

As noted in #1295, if i interact with the component, the icon does appear.

[2021-06-03 12:38] jcvilap opened #1301 "Upgrading `react-svg` from `^11.2.5` to `^13.0.6` causes a slow load"
We are having this issue since we upgraded from `^11.2.5` to `^13.0.6` this week. Is there anything new in 13 that may be causing this slow load compared to older versions? This is breaking pretty much all of our UI tests

[2021-06-04 19:53] tanem commented on #1287
@jcvilap if you could provide a repro or some code that shows a bit more about your use case, that would help narrow down what might be going on.

[2021-06-04 19:55] tanem commented on #1287
Saw your other issue, so locking this one.

[2021-06-04 19:56] tanem commented on #1301
@jcvilap if you could provide a repro or some code that shows a bit more about your use case, that would help narrow down what might be going on.

[2021-06-04 19:59] tanem commented on #1295
@leobenkel as mentioned earlier, is it possible for you to provide some code that shows what's going on? That would help figure out where there might be an issue.

[2021-06-04 20:02] tanem commented on #1297
https://codesandbox.io/s/lucid-butterfly-5n8ds

Haven't had the time to look further unfortunately. Will post back once I have.

[2021-06-04 23:14] leobenkel commented on #1295
I have a Component as a class.
I override `componentDidMount()`.
In this component I only have one instance of `ReactSVG` but there are more down the tree in sub-components.

When I comment out `componentDidMount` , it works. Otherwise, I need to click somewhere or interact with the component/sub-component to make it render. I tried interacting with sibling components, far away in the tree, that d

[2021-06-06 05:33] tanem commented on #1297
@michaellill-corefihub @mapsandapps looks like this could be a combination of a long-standing bug plus an issue with some recent changes.

Just published a beta version which hopefully fixes the issues you're seeing: `14.0.0-beta.1`.  Keen to hear how you get on?

[2021-06-06 05:35] tanem commented on #1295
@leobenkel just published a beta version that may fix the issue you're seeing if you want to give it a try? Details are [here](https://github.com/tanem/react-svg/issues/1297#issuecomment-855341579).

[2021-06-07 07:52] michaellill-corefihub commented on #1297
@tanem 14.0.0-beta.1 seems to work for me. Good job, thanks!

[2021-06-07 17:54] tanem commented on #1297
Good to hear, thanks for the update @michaellill-corefihub, I'll let you know once the proper version is published.

[2021-06-07 19:47] leobenkel commented on #1295
@tanem , the `beta.1` version seems to fix the problem ! Thanks for a quick fix !

[2021-06-07 19:48] mapsandapps commented on #1297
@tanem Working for me too! Thanks for being so communicative and getting a fix out quick!

[2021-06-07 20:42] tanem commented on #1295
Great to hear 🎉

I'll publish a proper version today, all things going to plan.

[2021-06-08 01:28] tanem commented on #1295
Just published the fix in `v14.0.0`, I'll wait till I hear back before closing the issue.

[2021-06-08 01:28] tanem commented on #1297
Just published the fix in `v14.0.0`, I'll wait till I hear back before closing the issue.

[2021-06-08 01:29] tanem commented on #1298
@DonikaV can you please try using `v14.0.0` which was published just now? It fixes a couple of things under the hood, which might help with your issue.

[2021-06-08 01:30] tanem commented on #1301
@jcvilap can you please try using `v14.0.0` which was published just now? It fixes a couple of things under the hood, which might help with your issue.

[2021-06-08 13:33] jcvilap commented on #1301
@tanem I just upgraded and the issue is gone, thanks a lot!

[2021-06-08 13:33] #1301 closed

[2021-06-08 18:07] tanem commented on #1295
Great to hear! 🎉 I'll go ahead and close the issue.

[2021-06-08 18:07] #1295 closed

[2021-06-11 13:06] eeli-kivikaarre commented on #1298
Sounds similar to an issue I had with version 13.0.5. For me, updating to v14.0.0 resolved it.

[2021-06-14 07:54] tanem commented on #1298
Closing due to inactivity.

[2021-06-14 07:54] #1298 closed

[2021-06-16 12:14] michaellill-corefihub commented on #1297
Unfortunately the fix seems to have brought new issues:

The following code
[code]
yields:
![grafik](https://user-images.githubusercontent.com/77488563/122216811-11e7cc80-cead-11eb-9aa0-0554f2ac6cba.png)

[2021-06-16 18:05] tanem commented on #1297
@michaellill-corefihub at first glance I can't see anything wrong with what you posted there, can you please explain what the issue is?

Also, can you please open a new issue for this? 🙏

[2021-06-16 18:05] #1297 closed

[2021-06-17 01:51] micbay opened #1324 "Wrapper src(unkown), path set in react with "src=" ends up as a "data-src" property instead"
I'm not sure what i'm doing wrong. I've installed the library, but when I try to set the svg source nothing shows. When I look at the browser inspector, in the rendered react-svg element I find that its data-src="the path I set as src", and the src property says "src(unknown)".

I also tried copying the example in the read.me, substituting my file source path and see the same problem. Perhaps this

[2021-06-17 08:16] michaellill-corefihub opened #1325 "svg is wrapped two times"
The following code

[code]
produces something like:
[code]

Expected:

[code]

this code:
[code]
produces something like:
[code]

Expected:
[code]

[2021-06-17 17:41] tanem commented on #1325
This is deliberate, please see "Why are there two wrapping elements?" in the [FAQ](https://github.com/tanem/react-svg#faq).

[2021-06-17 17:41] #1325 closed

[2021-06-17 17:53] tanem commented on #1324
Under the hood, this library makes XHR requests for SVGs, so they have to be available outside of the module system.

Most of the [live examples](https://github.com/tanem/react-svg#live-examples) in this repo use CRA. If you check out the [basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage) you'll see that its SVG is in the `public` folder, so `react-sv

[2021-06-17 19:23] micbay commented on #1324
I guess I'm not understanding correctly, I get the same result if I put the svg in the public folder. I've tried naming the file as seen below and using src={ "testStudy.svg" }, both behaved the same.
The "cra-main" app is an out of the box cra with react-svg installed.
![React code](https://user-images.githubusercontent.com/23461494/122459337-d3badd80-cf7e-11eb-9c23-6ee05a747067.png)
This is the

[2021-06-18 09:07] michaellill-corefihub commented on #1325
@tanem I see. Thank you for the explanation.

[2021-06-18 17:49] tanem commented on #1324
Ok, looks like the issue is specific to your setup. Couple more q's for you:

- Are there any errors in the dev tools network or console tabs?
- If you add an `afterInjection` callback that logs any errors (e.g. [here](https://github.com/tanem/react-svg/blob/master/examples/api-usage/src/index.js#L7), do you see anything in the console?

[2021-06-18 19:58] micbay commented on #1324
No, errors in console or displayed by callback. No network errors. Though it displays "loading.." in the svg element space and does log to console on mouse clicks.
Is there a dependency that may not have been included by default when installing react-svg or in the latest cra? That's my full package.json above, with all the libraries I have installed that cra doesn't include.
![browser result2](htt

[2021-06-20 18:28] tanem commented on #1324
No, you'll get all you need when you install `react-svg`.

Running out of ways I can help you here unfortunately since it appears to be a local issue. The best bet might be for you to start from a plain CRA app or somehow create a minimal reproduction of the issue in CodeSandbox that I can look at? You can fork the [basic example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/example

[2021-06-29 17:47] tanem commented on #1324
Closing due to inactivity.

[2021-06-29 17:47] #1324 closed

[2021-07-01 17:49] LiquidMusic1 opened #1348 "IE tab order"
When using ReactSVG on IE, if I include an image and use the `beforeInjection` and `afterInjection` callback like so:

`beforeInjection={ (svg) => {
   svg.setAttribute("tabindex","-1");
   svg,setAttribute("aria-hidden", "true");
}}`

`afterInjection={ (error,svg) => {
   if(svg !== undefined){
	svg.setAttribute("tabindex","-1");
	svg.setAttribute("aria-hidden","true");
   }
}}`

The resulting `<

[2021-07-02 09:26] JasonMichaelSmith commented on #24
Just use https://www.npmjs.com/package/react-inlinesvg

No unnecessary div/span wrappers.

[2021-07-02 12:37] LiquidMusic1 commented on #1348
Resolved by adding the focusable property equal to 'false'

[2021-07-02 12:37] #1348 closed

[2021-07-05 15:48] huynhj02 commented on #145
Hi! Could I re-open this issue? I am not sure what you mean by the DOM elements, could you give me an example of some things I could try to make paths highlighted on click? I tried using the built in onClick method for ReactSVG but the event doesn't seem to return any information about the path. I was thinking I could maybe do something within the afterInjection method but I haven't found anything

[2021-07-05 17:48] tanem commented on #145
@huynhj02 you can access the SVG element in the `beforeInjection` callback, take a look at the `Before Injection` live example in the README.

If you'd like to discuss further can you raise a new issue please?

[2021-07-05 18:18] huynhj02 commented on #145
Sure, thank you so much for the quick response! I think I might have gotten it worked out but I will open a new issue if I have trouble.

[2021-07-08 15:10] leobenkel opened #1359 "[Issue] Double wrapper"
Hello,

Thank you for this library, it is amazing.

I noticed that when I set the `wrapper` to anything, be a `span` or `div`, it then double wrap the `svg`, like that:

[code]

I would expect only one wrap, no ?

[2021-07-08 17:55] tanem commented on #1359
Thanks for the kind words 🙏

The double wrapper is deliberate, please refer to "Why are there two wrapping elements?" in the [FAQ](https://github.com/tanem/react-svg#faq).

[2021-07-08 17:55] #1359 closed

[2021-07-08 18:08] leobenkel commented on #1359
Ah sorry 🤦 !
Thank you for pointing me in the right direction.

[2021-08-08 14:51] kirill-martynov commented on #1324
Hello! I've got the same error, I'm getting message: "You need to enable JavaScript to run this app."

https://user-images.githubusercontent.com/70448489/128636224-37373cf3-e52d-437a-9610-b7d7674aa0e5.mov

[2021-08-08 15:04] kirill-martynov opened #1398 "Not displaying icons"
Hello!

I have a problem with loading icons, after reloading in dev mode. I'm using latest CRA and react-svg.
Here is the video of the problem:

https://user-images.githubusercontent.com/70448489/128636598-5b3cd909-d169-4f38-a78e-777e46c4c019.mov

Looks like when I'm on nested route after reload it can't access icons.

[2021-08-08 15:10] kirill-martynov commented on #1398
I've decided to run `yarn build` to check the production.

Set up HTTP server with **serve** and check, and now I got these error:
![image](https://user-images.githubusercontent.com/70448489/128636750-69d660ec-bf90-4626-b18f-a63ce45d358b.png)

[2021-08-09 17:45] tanem commented on #1398
Hi :wave: I'm guessing your SVGs are not available via XHR. Most of the live examples in the README of this library use CRA, so I'd suggest looking at those for setup hints if you haven't already.

[2021-08-09 19:19] kirill-martynov commented on #1398
I've used example from README and got same error.

I've made an example on codesandbox: https://codesandbox.io/s/infallible-chatterjee-2f33y

Click on "Editor" link, click refresh in embed browser, and you will get error that you can't load svg

https://user-images.githubusercontent.com/70448489/128761971-7070e279-8268-4518-a7c1-b07f3ad7f769.mov

[2021-08-10 20:02] tanem commented on #1398
Ah, I see, thanks for the repro. Interesting error, I can see the SVG loads properly the first time 🤔

Will dig into things and will post back when I know more.

[2021-08-10 20:18] tanem commented on #1398
The `src` value is incorrect, try using `/svg.svg` instead of `svg.svg`. This will make the app always request the svg at `/svg.svg` on both pages, which is where that file is available, instead of `/editor/course/svg.svg` when it's on the "Editor" page.

Guessing it'll be a similar problem in your real app, checking the network tab in dev tools should allow you to see what's going on and you can

[2021-08-16 17:42] tanem commented on #1398
Closing due to inactivity.

[2021-08-16 17:42] #1398 closed

[2021-09-03 12:39] hajnalbendeguz commented on #1298
Updating to v14 also resolved this issue for me. Keep in mind there is a breaking change, an additional wrapper is being added to the svg in this version.

[2021-09-17 01:21] hirokimoto opened #1448 "How to change width and height of SVG?"
Hello, this package does not support to change width and height.

[2021-09-17 21:21] tanem commented on #1448
Hi @hirokimoto, assuming you're talking about changing the width and height of the SVG, there are three [live examples](https://github.com/tanem/react-svg#live-examples) from the `README.md` that show how you can do that:

- [External Stylesheet](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/external-stylesheet).
- [CSS-in-JS](https://codesandbox.io/s/github/tanem/react-svg/

[2021-09-23 03:07] StringKe opened #1455 "AfterInjection is not executed in SSR rendering?"
I need to perform some additional operations on the `SVG` document, and SSR rendering does not seem to load the `SVG` document.

[2021-09-23 03:08] StringKe commented on #1455
![image](https://user-images.githubusercontent.com/31089228/134449395-a0327360-d7b6-4434-8476-9a488e141c62.png)
![image](https://user-images.githubusercontent.com/31089228/134449403-5ddcac27-b616-400a-9d50-cdc11df73041.png)

[2021-09-23 17:48] tanem commented on #1448
Closing due to inactivity.

[2021-09-23 17:48] #1448 closed

[2021-09-24 20:22] tanem commented on #1455
Thanks for the report @StringKe, I'll try to have a look at this over the weekend.

[2021-10-05 04:01] tanem commented on #1455
@StringKe sorry for the delay. Assuming this is still an issue for you, is it possible for you to provide a working repro showing the issue? Or some more context around how you're rendering your app, e.g. with Next.js (note there's an [ssr example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/ssr) in this repo).

I suspect the issue will be because this library uses `XMLHtt

[2021-10-05 05:38] StringKe commented on #1455
@tanem
I implemented a parameter `RequestResouce`.

When `RequestResouce` exists, `RequestResouce` will be used to get SVG Content.

Use XMLHttpRequest if `RequestResouce` does not exist

In this way, only the `RequestResouce` parameter needs to be passed in the `SSR` environment.

`RequestResource` is global function param in my program

[2021-10-07 01:59] StringKe commented on #1455
In the SSR environment, RequestResource is https://github.com/node-fetch/node-fetch

[2021-10-21 09:53] ostwalprasad opened #1491 "Adding headers to the src URL."
I'm fetching SVG from a URL that needs an authentication header. I see that the URL is directly passed to `src`. Is there any way to fetch SVG first using `fetch` and then provide that to ReactSVG?

[2021-10-25 09:53] proffnick opened #1497 "Changing the SVG Color"
How do I programmatically change the color of the SVG? Please help `<ReactSVG  color="#55555" />` ????

[2021-11-01 15:27] tanem commented on #1497
Hi @proffnick. You can use `beforeInjection` to do this, please refer to the [Before Injection](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/before-injection) example.

There are also [CSS-in-JS](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/css-in-js) and [External Stylesheet](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/exter

[2021-11-01 15:30] tanem commented on #1497
Oops, reopening until I hear back or the issue becomes stale.

[2021-11-01 15:42] tanem commented on #1491
Hi @ostwalprasad.

This library relies on [tanem/svg-injector](https://github.com/tanem/svg-injector), which uses `XMLHttpRequest` to fetch SVGs. That library has an `httpRequestWithCredentials` option, which controls the [`withCredentials`](https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/withCredentials) setting.

I think that's what you'll be after, but it's currently not being p

[2021-11-01 16:06] tanem commented on #1491
Released the change in `v14.1.0` if you want to try it out 🍀

[2021-11-01 16:09] ostwalprasad commented on #1491
thanks a lot for the change, @tanem. I'll try it out! :smile:

[2021-11-01 16:09] #1491 closed

[2021-11-01 19:08] proffnick commented on #1497
Thank you @tanem done!

[2021-11-01 23:26] #1497 closed

[2021-11-22 23:51] jrafaaael opened #1545 "Nothing happens trying to extends Props type from react-svg"
I'm trying this:
[code]
but only get and error when not define the `iconName` prop. Props not required are valid too

EDIT: I'm using Vite

[2021-11-26 19:03] tanem commented on #1545
Hi @jrafaaael, is this an issue with the types, or functionality of the module itself?

[2021-12-01 02:50] timhwang21 opened #1555 "Warn about SVG sanitization?"
Hello, we noticed a footgun here regarding 3rd party SVGs. If an SVG like the following is provided, it provides the opportunity for XSS (note the `onfocus` and `onbegin`):

[code]

Our userland solution for this is to preprocess the SVG with [DOMPurify](https://github.com/cure53/DOMPurify):

[code]

However, we thought this was a very easy mistake for users who take 3rd party SVGs to make.

I'm n

[2021-12-01 02:53] timhwang21 commented on #1555
Er, in the interest of responsible disclosure, I probably shouldn't have posted this as a public issue...? @tanem if you've dealt with reports similar to this in the past could you handle however you think is reasonable (e.g. deleting this thread after acknowledging)? I posted without thinking.

[2021-12-02 16:17] tanem commented on #1555
PS yes will delete this thread (this repo should really have a SECURITY.md file).

[2021-12-02 16:18] tanem commented on #1545
Closing due to inactivity (apologies for the delay on my side too).

[2021-12-02 16:18] #1545 closed

[2021-12-17 08:00] potatolianyi opened #1576 "reactSVG gives CORES error"
Hi,
I got an issue with the CORS error. My site is using WP as the headless CMS and I am loading the svg file from WP by using ReactSVG.
Code is like this:
      <ReactSVG
        className="profile"
        src={`${WordPressAPI.media}/profile.svg?type=svg`}
      />
However, everytime when I migrate the contents from staging to prod on WP, some of the ReactSVG gives CORS error.
Pretty sure that I

[2021-12-18 18:58] tanem commented on #1576
Sounds like there could be caching issues making it harder to diagnose plus some misconfiguration of CORS headers somewhere? Hard to tell without having an example to work with or some info to see from the browser network tab.

[2021-12-24 19:26] tanem commented on #1576
Closing due to inactivity.

[2021-12-24 19:26] #1576 closed

[2022-01-18 16:16] frufus opened #1619 "SVGs partially not injected"
Hi,

since we updated our project to version 14 (jumped from version 12) some SVGs don't get injected on first load.
It's a next js project, all SVGs are in the public folder and preprocessed with svgo.
In some cases the same SVG on the same page in different places gets injected in one place, but not the other.
To me it seams like some kind of race condition, but I couldn't figure out the relevan

[2022-01-20 19:12] karlosos opened #1624 "Rendering inside other component"
Why can't I render this `<ReactSVG />` in the standard React way as a child of other component. Simple example:

[code]

Gives error:

CodeSandbox: https://codesandbox.io/s/svg-injector-tests-35rd9?file=/src/App.js:0-252

Code works if I use `ReactDom.render` like:

[code]

[2022-01-20 19:23] karlosos commented on #1624
Ok it was my mistake. Bad import. Should be:

[code]
not

[code]

[2022-01-20 19:23] #1624 closed

[2022-01-21 18:31] tanem commented on #1619
Hey @frufus, yea sounds like something I should look into. That example repo would be really helpful! 🙏

[2022-01-30 23:33] jrafaaael commented on #1545
@tanem sorry, I don't see the reply. The error is:
[code]

and the component is:
[code]

[2022-02-04 22:07] tanem commented on #1619
Closing due to inactivity.

[2022-02-04 22:07] #1619 closed

[2022-02-10 04:34] tanem commented on #1545
Hey @jrafaaael, had a quick look, a bit stumped as to what I can do to fix the precise issue at the moment. Maybe similar to these issues:

https://github.com/downshift-js/downshift/issues/718
https://github.com/ant-design/ant-design/issues/10405

Guess in the meantime you could ignore it somehow but not sure if this fits your use case:

[code]

If I end up finding a decent fix I'll reply on this

[2022-03-11 04:11] stonebinox commented on #1448
@tanem your last example with Before Injection doesn't work.

[2022-03-11 18:50] tanem commented on #1448
@stonebinox can you raise a new issue and describe what you think is wrong here? (I just checked and the example seems ok from what I can see).

[2022-04-05 14:31] JulSeb42 opened #1727 "Impossible to install with React 18"
Hi,

I'm trying to install `react-svg` with React 18, but I get this error:

[code]

When will this be fixed?

Thanks!

[2022-04-07 04:13] childrentime commented on #1727
same error.

[2022-04-08 17:23] tanem commented on #1727
Hi, just published `v14.1.18` which supports React 18 🙏

[2022-04-08 17:23] #1727 closed

[2022-04-14 09:56] iamindrazulfi opened #1742 "Path keep closed after injection"
Hey Tanem,

I am working on icon editor, i just wanted to create stroke adjuster with slider.
It was great in the app, but after download the path keep self closed.
![Sac](https://user-images.githubusercontent.com/78650493/163361263-1178700f-639f-4362-9411-b38060a39ccf.gif)

<img width="330" alt="image" src="https://user-images.githubusercontent.com/78650493/163361460-e47a4a1f-006e-44db-8c78-bfef0

[2022-04-14 23:58] tanem commented on #1742
Hiya, don't suppose you can create a working repro by forking [the basic CodeSandbox example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage)? Will make it easier to see what's going on.

Does it make any difference if you use `afterInjection` instead of `beforeInjection`?

[2022-04-22 17:19] tanem commented on #1742
Closing due to inactivity.

[2022-04-22 17:19] #1742 closed

[2022-05-04 11:03] KPSoftec opened #1776 "getting error while using jest and enzyme."
console.error
    Error: Error: connect ECONNREFUSED 127.0.0.1:80
        at Object.dispatchError (Project-directory\node_modules\jsdom\lib\jsdom\living\xhr\xhr-utils.js:63:19)
        at Request.<anonymous> (Project-directory\node_modules\jsdom\lib\jsdom\living\xhr\XMLHttpRequest-impl.js:655:18)
        at Request.emit (node:events:406:35)
        at ClientRequest.<anonymous> (Project-directory\n

[2022-05-12 17:19] tanem commented on #1776
Hi @KPSoftec. This library makes AJAX requests for SVGs under the hood, so you'll need to handle those in your tests. [Here's an example using `nock`](https://github.com/tanem/react-svg/blob/master/test/browser.spec.tsx#L24=).

[2022-05-15 00:13] tanem commented on #1776
Closing due to inactivity.

[2022-05-15 00:13] #1776 closed

[2022-06-07 21:18] rexkenley opened #1815 "How to access svg viewbox dimensions"
Hi

How do I access the dimensions of the svg viewbox?

Is it also possible to position elements over the svg viewbox?
![image](https://user-images.githubusercontent.com/10548251/172488072-9a4f660b-5287-4a87-8f51-9fff183ac155.png)

Thanks!

[2022-06-08 18:17] tanem commented on #1815
Hi @rexkenley.

The `beforeInjection` callback ([live example](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/before-injection)) will give you access to the SVG element, from there you can access the `viewBox` attribute.

Should be. Up to you how you want to do this, e.g. could use positioned DOM elements, or you could modify the SVG itself.

[2022-06-09 01:07] rexkenley commented on #1815
@tanem

Thanks for the response. I like your idea to modify the svg. Do you have any recommendation on how I can learn to do it?

Thanks again.

[2022-06-10 17:56] tanem commented on #1815
All good. You could have a look through [these](https://developer.mozilla.org/en-US/docs/Web/SVG) docs if you haven't already.

[2022-06-16 18:47] rexkenley commented on #1815
Thanks

[2022-06-16 18:47] #1815 closed

[2022-06-16 18:51] rexkenley opened #1821 "onClick fires outside of svg box"
Is there a way to limit onClick so that it doesn't fire outside of the svg view box?

The blue area is the svg box.
![image](https://user-images.githubusercontent.com/10548251/174143973-c889fca6-4767-49c2-bcc8-dd739b8a8439.png)

[2022-06-18 01:36] tanem commented on #1821
Depends on how you've coded things in your app, doesn't sounds like an issue with this library since it's just concerned with loading SVGs... would need to see an example.

[2022-06-19 00:21] rexkenley commented on #1821
Ok, I solved it by having a parent div with the right dimensions to prevent the "escapees".

[2022-06-19 00:21] #1821 closed

[2022-06-20 12:44] zeremyo opened #1828 "fallback is not working"
I can load svgs with react-svg perfectly well but if the src URL is not valid the fallback is visualized. Is this intended or the fallback not working properly?

[2022-06-20 17:24] tanem commented on #1828
Yes, if `src` is invalid then the fallback will be rendered, if you've specified one. You can see this in action via the [Fallbacks](https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/fallbacks) live example.

[2022-06-22 17:59] prlyons opened #1836 "Sometimes svg is not injected."
I have the same svg that is add in multiple places in a web page using ReactSVG. Sometimes the svg is not injected and there is no error reported. I've tried adding afterInjection.  Instead I get the following div where the <svg> element would have been.
`<div data-src="Pub/Web/Icon/arrowDropDown.svg" src=""></div>`

Any advice or is this a bug?

[2022-06-22 18:19] tanem commented on #1836
That `data-src` value looks like a reference to an SVG on your local filesystem? This library makes XHR requests for SVGs under the hood, so if the SVG can't be fetched that way then it will fail. You might want to consider an alternative approach if you don't need the XHR behaviour, e.g. [`react-svgr`](https://react-svgr.com/).

If you don't think that's the issue, can you please create an exampl

[2022-06-23 17:48] tanem commented on #1836
From https://github.com/tanem/svg-injector/issues/1061#issue-1280437798:

[2022-06-24 14:13] prlyons commented on #1836
Please close this issue. I've found the problem upstream of ReactSVG.

[2022-06-24 14:13] #1836 closed

[2022-06-24 20:28] rexkenley opened #1839 "Passing an svg string to source."
I am trying to pass a svg string to the control but it doesn't render it.
![image](https://user-images.githubusercontent.com/10548251/175662506-99c929d6-2957-4af7-9056-f385f5e7e227.png)

If I pass the same svg as an svg file it renders it correctly.
![image](https://user-images.githubusercontent.com/10548251/175662438-5f447d18-af02-4a77-8353-7350d8efe24a.png)

What am I doing wrong?

[2022-06-24 20:30] rexkenley commented on #1839
This is the string svg

`const orangeSportCar = `<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodi

[2022-06-27 05:16] Acatworthloving opened #1842 "npm run start displays normally, but some SVG does not display after npm run build. What is the reason"
config：
![image](https://user-images.githubusercontent.com/31841169/175851953-34f5e7d5-eddc-4bc1-a818-3a3e2b33a1b6.png)

Can display
`<?xml version="1.0" encoding="utf-8"?>
<svg t="1653445142208" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8408" width="200" height="200"><path d="M128 768h768v-85.333333H128v85.333333z m0-213.333333h768v-85.333334H128v

[2022-06-27 18:57] tanem commented on #1828
Closing due to inactivity.

[2022-06-27 18:57] #1828 closed

[2022-06-27 18:59] tanem commented on #1839
Hard to know what's going on here without a working repro of the bug. Forking one of the live CodeSandbox examples from the README would help 🙏

[2022-06-27 19:01] tanem commented on #1842
Hard to know what's going on here without a bug reproduction showing the issue. One way to do that is to fork and modify the basic CodeSandbox example from the README: https://codesandbox.io/s/github/tanem/react-svg/tree/master/examples/basic-usage.

[2022-06-30 08:47] Acatworthloving commented on #1842
[already](javascript:;) [solved](javascript:;)

[2022-06-30 08:47] Acatworthloving commented on #1842
src url error

[2022-06-30 18:42] tanem commented on #1842
Ok, thanks for the update, closing 👍

[2022-06-30 18:42] #1842 closed

[2022-07-01 09:29] parashram commented on #88
Need solution for issue : https://github.com/iconic/SVGInjector/issues/29#issuecomment-1172139811

[2022-07-01 18:03] tanem commented on #88
Have you tried setting [`renumerateIRIElements`](https://github.com/tanem/react-svg#api) to `false`?

A permanent solution is a bit more involved, have had it on my backlog for a while 😅

[2022-07-03 06:59] parashram commented on #88
By Adding renumerateIRIElements='false'; SVG image is calling by source url, not by injector. Below is code how I have applied this property. Also let me know if i am applying it on wrong place.

var injectElement = function (el, evalScripts, pngFallback, callback) {

          // Grab the src or data-src attribute
          var imgUrl = el.getAttribute('data-src') || el.getAttribute('src');

[2022-07-08 18:12] tanem commented on #1839
Closing due to inactivity.

[2022-07-08 18:12] #1839 closed

[2022-08-25 09:32] tibotiber opened #1911 "Types missing after wrapping with styled-components"
Hi, I'd like to wrap a `ReactSVG` with some custom styles using styled-components, I'm using Typescript and although this works, I'm loosing the types on props like `afterInjection`. Used straight the types are there, through styled-components they're gone. This is not happening with components from other libs. I'm not sure why but the type that's showing is `const SVG: StyledComponent<typeof Reac

[2022-09-09 21:28] tanem commented on #1911
Hey @tibotiber, sorry for the late reply. Hmm, this is a tricky one.

I think the `typeof` makes sense as `ReactSVG` is a class component. If I run another example using a simpler class component, the same thing happens and everything works ok.

Perhaps there's an issue with how the types are being generated for this library, will post back once I know more.

[2022-09-27 21:30] ChristopherTrimboli opened #1956 "NextJS issues."
I am making an npm module UI library using react-svg.

I have an `index.ts` that is exporting a bunch of SVGs wrapped in `<ReactSVG>` like:

[code]

So you can do: `import { Alert, Analytics } from 'mynpmlib/icons'`
Pretty basic, it works great on create-react-app, storybook, vanilla React, webpack, bunch of projects.

But Next.js... is being VERY painful... let me try and explain:

My built versi

[2022-09-28 02:46] ChristopherTrimboli commented on #1956
OK I found janky solution that works for now:

Updated my UI lib `custom.d.ts` to support string OR Next.js` special object:

[code]

Then I do a ternary:

[code]

It "works" 😆

[2022-09-28 05:04] #1956 closed

[2022-09-29 15:33] leads opened #1957 "Gatsby / build execution"
Hi. I'm using this in a Gatsby project.

It doesn't run on Gatsby build, it only executes in the client. Perhaps I'm doing something wrong - should it work at build time or is it client only?

Thanks